.spacer {
    flex: 1 1 auto;
}

div.popup {
    visibility: hidden;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
    z-index: 10;
    position: fixed;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.8);
}

div.popup.open {
    opacity: 1;
    visibility: visible;
    transition: all 1s;
}

div.popup .content {
    padding: 5%;
    background-color: #ffffff;
}

div.course {
    border-bottom: solid 1px #ccc;
}

div.course > div {
    line-height: 30px;
}

.mat-list-icon {
    cursor: pointer;
    vertical-align: middle;
}