<div class="popup" #popupFirestation>
  <div class="content">
    <form novalidate (ngSubmit)="onSubmit(courseForm)" [formGroup]="courseForm">
      <md-select placeholder="Caserne" formControlName="idFirestation" class="full-width">
        <md-option *ngFor="let station of firestations" [value]="station.id">{{station.stationName}}</md-option>
      </md-select>
      <div *ngFor="let street of course.streets">
        <app-intervention-survey-course-lane [street]="street"></app-intervention-survey-course-lane>
      </div>
    </form>
    <md-toolbar>
      <span class="spacer"></span>
      <button md-button (click)="stopEdit()"><md-icon>cancel</md-icon> {{'cancel' | translate}}</button>
    </md-toolbar>
  </div>
</div>
<div class="course" fxLayout="row">
  <div fxFlex="10" fxFlexAlign="stretch" fxFill><md-icon md-list-icon (click)="startEdit()">mode_edit</md-icon></div>
  <div fxFlex="15" fxFlexAlign="stretch" fxFill><span>{{firestation}}</span></div>
  <div fxFlex="75" fxFlexAlign="stretch" fxFill>
    <span *ngFor="let street of course.streets">
      {{street.idLane}}
      <span *ngIf="street.direction">({{street.direction}}) - </span>
      <span *ngIf="!street.direction"></span>
    </span>
  </div>
</div>