<div class="popup" #popupFirestation>
  <div class="content">
    <form novalidate (ngSubmit)="onSubmit(courseForm)" [formGroup]="courseForm">
      <md-select placeholder="Caserne" formControlName="idFirestation">
        <md-option *ngFor="let station of firestations" [value]="station.id">{{station.stationName}}</md-option>
      </md-select>
      <div class="limit-height">
        <div *ngFor="let street of streets">
          <app-intervention-survey-course-lane [street]="street"></app-intervention-survey-course-lane>
        </div>
      </div>
    </form>
    <md-toolbar>
      <button md-button (click)="addCourseLane()"><md-icon>add</md-icon> {{'add' | translate}}</button>
      <span class="spacer"></span>
      <button md-button (click)="stopEdit()"><md-icon>check</md-icon> {{'ok' | translate}}</button>
    </md-toolbar>
  </div>
</div>
<div class="course" fxLayout="row" fxLayout.xs="column">
  <div fxFlex="20" fxFlexAlign="stretch" fxFill>
    <md-icon md-list-icon (click)="startEdit()">mode_edit</md-icon>
    <span>{{firestation}}</span>
  </div>
  <div fxFlex="80" fxFlexAlign="stretch" fxFill>
    <span *ngFor="let street of streets; let last = last">
      <ng-container *ngIf="street.name">
        <span [innerText]="street.name"></span>
        <span *ngIf="street.direction">({{street.direction}})</span>
        <span *ngIf="!last"> - </span>
      </ng-container>
    </span>
  </div>
</div>