<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onInitialized)="onInitialized($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowValidating)="onRowValidating($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="localizations"
            caption="{{'name' | translate}}"
            [calculateCellValue]="getCityName"
            editCellTemplate="editname"
            sortOrder="asc"
            sortIndex="1">
    </dxi-column>
    <dxi-column
            dataField="idCityType"
            caption="{{'cityType' | translate}}">
        <dxo-lookup [dataSource]="citiesType" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column
            dataField="idCounty"
            caption="{{'county' | translate}}"
            sortOrder="asc"
            sortIndex="0">
        <dxo-lookup [dataSource]="counties" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="code" caption="{{'code' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="code3Letters" caption="{{'code3Letters' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="emailAddress" caption="{{'email' | translate}}" [visible]="false"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-editing mode="popup" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-texts addRow="{{'add' | translate}}"></dxo-texts>
        <dxo-popup title="{{'city' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="1">
            <dxi-item dataField="localizations" [isRequired]="true"></dxi-item>
            <dxi-item dataField="idCityType" [isRequired]="true"></dxi-item>
            <dxi-item dataField="idCounty" [isRequired]="true"></dxi-item>
            <dxi-item dataField="code" [isRequired]="true" [editorOptions]="{maxLength: 10}"></dxi-item>
            <dxi-item dataField="code3Letters" [isRequired]="true" [editorOptions]="{maxLength: 3}"></dxi-item>
            <dxi-item dataField="emailAddress"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let field of 'editname'">
        <app-multilang
                [validationGroup]="validationGroup"
                [dataField]="field"
                [value]="field.row.data.localizations"
                (valueChanged)="field.setValue($event.value);">
        </app-multilang>
    </div>
</dx-data-grid>