<div fxLayout="row">
    <div fxFlex="350px">
        <app-main-menu></app-main-menu>
    </div>
    <div fxFlex="" class="content">
        <div *ngIf="!selectedSurvey">
            <h1>{{'survey' | translate}}</h1>
            <app-managementsurvey-list></app-managementsurvey-list>
        </div>
        <div *ngIf="selectedSurvey">
            <h1>{{'survey' | translate}}</h1>
            <app-managementsurvey-question [survey]="selectedSurvey"></app-managementsurvey-question>
        </div>
    </div>
</div>

