<dx-data-grid
        [dataSource]="departments"
        [hoverStateEnabled]="true"
        (onEditingStart)="onEditingStart($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="name"
            caption="{{'name' | translate}}"
            [calculateCellValue]="onCalculateCellValue"
            [editCellTemplate]="onEditCellTemplate"
            sortOrder="asc"
            sortIndex="0">
    </dxi-column>
    <dxi-column
            dataField="idCounty"
            caption="{{'county' | translate}}"
            sortOrder="asc"
            sortIndex="1">
        <dxo-lookup [dataSource]="counties" displayExpr="name.fr" valueExpr="idCounty">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="language" caption="{{'language' | translate}}" [visible]="false">
        <dxo-lookup [dataSource]="languages" displayExpr="name" valueExpr="code">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" caption="{{'isActive' | translate}}" width="15%"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-popup title="{{'fireSafetyDepartment' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="1">
            <dxi-item dataField="name" [isRequired]="true">
                <app-multilang [(value)]="selectedName" (onValueChanged)="onNameChanged($event)"></app-multilang>
            </dxi-item>
            <dxi-item dataField="idCounty" [isRequired]="true"></dxi-item>
            <dxi-item dataField="language"></dxi-item>
            <dxi-item dataField="isActive" editorType="dxCheckBox"></dxi-item>
        </dxo-form>
    </dxo-editing>
</dx-data-grid>