<div>
    <div style="text-align: center">
        <h2>P.N.A.P.</h2>
    </div>
    <div style="text-align:right; width: 100%">
        <button md-button>Ajouter...</button>
    </div>
    <md-card>
        <form>
            <div fxLayout="row" class="full-width">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Nom"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Étage"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Local"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Contact"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Téléphone"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Type" class="full-width">
                    <md-option>Personnes âgées</md-option>
                    <md-option>Non voyant</md-option>
                    <md-option>Mobilité réduite</md-option>
                    <md-option>Garderie</md-option>
                </md-select>
            </div>
            <div fxLayout="row" class="card-subtitle">
                <b>Nombre de personnes</b>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Jour"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Soir"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Nuit"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <textarea mdInput placeholder="Informations additionnelles"></textarea>
                </md-input-container>
            </div>
        </form>
      <md-card-actions class="card-buttons">
        <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
      </md-card-actions>
    </md-card>
    <md-card>
        <form>
            <div fxLayout="row" class="full-width">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Nom"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Étage"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Local"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Contact"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Téléphone"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Type" class="full-width">
                    <md-option>Personnes âgées</md-option>
                    <md-option>Non voyant</md-option>
                    <md-option>Mobilité réduite</md-option>
                    <md-option>Garderie</md-option>
                </md-select>
            </div>
            <div fxLayout="row" style="margin-top: 10px; margin-bottom: 10px;">
                <b>Nombre de personnes</b>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Jour"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Soir"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Nuit"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <textarea mdInput placeholder="Informations additionnelles"></textarea>
                </md-input-container>
            </div>
        </form>
      <md-card-actions class="card-buttons">
        <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
      </md-card-actions>
    </md-card>
    <md-card>
        <form>
            <div fxLayout="row" class="full-width">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Nom"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Étage"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Local"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Contact"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Téléphone"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Type" class="full-width">
                    <md-option>Personnes âgées</md-option>
                    <md-option>Non voyant</md-option>
                    <md-option>Mobilité réduite</md-option>
                    <md-option>Garderie</md-option>
                </md-select>
            </div>
            <div fxLayout="row" style="margin-top: 10px; margin-bottom: 10px;">
                <b>Nombre de personnes</b>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Jour"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Soir"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Nuit"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <textarea mdInput placeholder="Informations additionnelles"></textarea>
                </md-input-container>
            </div>
        </form>
      <md-card-actions class="card-buttons">
        <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
      </md-card-actions>
    </md-card>
</div>

<div style="clear:both"></div>