<div>

  <md-card class="master-card">
    <md-card-title>P.N.A.P</md-card-title>
    <md-card-content>

      <md-card class="detail-card">
        <form>
            <div fxLayout="row" class="full-width">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Nom"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Étage"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Local"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Contact"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Téléphone"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Type" class="full-width">
                    <md-option>Personnes âgées</md-option>
                    <md-option>Non voyant</md-option>
                    <md-option>Mobilité réduite</md-option>
                    <md-option>Garderie</md-option>
                </md-select>
            </div>
            <div fxLayout="row" class="card-subtitle">
                <b>Nombre de personnes</b>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Jour"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Soir"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Nuit"/>
                </md-input-container>
                <md-checkbox>Approximatif</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <textarea mdInput placeholder="Informations additionnelles"></textarea>
                </md-input-container>
            </div>
        </form>
      <md-card-actions class="card-buttons">
        <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
      </md-card-actions>
    </md-card>

      <md-card class="detail-card">
          <form>
              <div fxLayout="row" class="full-width">
                  <md-input-container class="full-width">
                      <input mdInput placeholder="Nom"/>
                  </md-input-container>
              </div>
              <div fxLayout="row">
                  <md-input-container>
                      <input mdInput placeholder="Étage"/>
                  </md-input-container>
                  <md-input-container>
                      <input mdInput placeholder="Local"/>
                  </md-input-container>
              </div>
              <div fxLayout="row">
                  <md-input-container class="full-width">
                      <input mdInput placeholder="Contact"/>
                  </md-input-container>
              </div>
              <div fxLayout="row">
                  <md-input-container class="full-width">
                      <input mdInput placeholder="Téléphone"/>
                  </md-input-container>
              </div>
              <div fxLayout="row">
                  <md-select placeholder="Type" class="full-width">
                      <md-option>Personnes âgées</md-option>
                      <md-option>Non voyant</md-option>
                      <md-option>Mobilité réduite</md-option>
                      <md-option>Garderie</md-option>
                  </md-select>
              </div>
              <div fxLayout="row" style="margin-top: 10px; margin-bottom: 10px;">
                  <b>Nombre de personnes</b>
              </div>
              <div fxLayout="row">
                  <md-input-container>
                      <input mdInput placeholder="Jour"/>
                  </md-input-container>
                  <md-checkbox>Approximatif</md-checkbox>
              </div>
              <div fxLayout="row">
                  <md-input-container>
                      <input mdInput placeholder="Soir"/>
                  </md-input-container>
                  <md-checkbox>Approximatif</md-checkbox>
              </div>
              <div fxLayout="row">
                  <md-input-container>
                      <input mdInput placeholder="Nuit"/>
                  </md-input-container>
                  <md-checkbox>Approximatif</md-checkbox>
              </div>
              <div fxLayout="row">
                  <md-input-container class="full-width">
                      <textarea mdInput placeholder="Informations additionnelles"></textarea>
                  </md-input-container>
              </div>
          </form>
        <md-card-actions class="card-buttons">
          <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
        </md-card-actions>
      </md-card>

      <md-card class="detail-card">
          <form>
              <div fxLayout="row" class="full-width">
                  <md-input-container class="full-width">
                      <input mdInput placeholder="Nom"/>
                  </md-input-container>
              </div>
              <div fxLayout="row">
                  <md-input-container>
                      <input mdInput placeholder="Étage"/>
                  </md-input-container>
                  <md-input-container>
                      <input mdInput placeholder="Local"/>
                  </md-input-container>
              </div>
              <div fxLayout="row">
                  <md-input-container class="full-width">
                      <input mdInput placeholder="Contact"/>
                  </md-input-container>
              </div>
              <div fxLayout="row">
                  <md-input-container class="full-width">
                      <input mdInput placeholder="Téléphone"/>
                  </md-input-container>
              </div>
              <div fxLayout="row">
                  <md-select placeholder="Type" class="full-width">
                      <md-option>Personnes âgées</md-option>
                      <md-option>Non voyant</md-option>
                      <md-option>Mobilité réduite</md-option>
                      <md-option>Garderie</md-option>
                  </md-select>
              </div>
              <div fxLayout="row" style="margin-top: 10px; margin-bottom: 10px;">
                  <b>Nombre de personnes</b>
              </div>
              <div fxLayout="row">
                  <md-input-container>
                      <input mdInput placeholder="Jour"/>
                  </md-input-container>
                  <md-checkbox>Approximatif</md-checkbox>
              </div>
              <div fxLayout="row">
                  <md-input-container>
                      <input mdInput placeholder="Soir"/>
                  </md-input-container>
                  <md-checkbox>Approximatif</md-checkbox>
              </div>
              <div fxLayout="row">
                  <md-input-container>
                      <input mdInput placeholder="Nuit"/>
                  </md-input-container>
                  <md-checkbox>Approximatif</md-checkbox>
              </div>
              <div fxLayout="row">
                  <md-input-container class="full-width">
                      <textarea mdInput placeholder="Informations additionnelles"></textarea>
                  </md-input-container>
              </div>
          </form>
        <md-card-actions class="card-buttons">
          <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
        </md-card-actions>
      </md-card>

      <md-card class="detail-card empty-card">
        <div class="centered-card-content">
          <button md-raised-button class="add-button"><md-icon class="add-button-picture">add_circle</md-icon>  Ajouter un PNAP</button>
        </div>
        <div class="hidden-content">
          <div fxLayout="row" class="full-width">
            <md-input-container class="full-width">
              <input mdInput placeholder="Nom"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Étage"/>
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Local"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container class="full-width">
              <input mdInput placeholder="Contact"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container class="full-width">
              <input mdInput placeholder="Téléphone"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-select placeholder="" class="full-width">
              <md-option>Personne âgée</md-option>
              <md-option>Non voyant</md-option>
              <md-option>Mobilité réduite</md-option>
              <md-option>Garderie</md-option>
            </md-select>
          </div>
          <div fxLayout="row" style="margin-top: 10px; margin-bottom: 10px;">
            <b>Nombre de personnes</b>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Jour"/>
            </md-input-container>
            <md-checkbox>Approximatif</md-checkbox>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Soir"/>
            </md-input-container>
            <md-checkbox>Approximatif</md-checkbox>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Nuit"/>
            </md-input-container>
            <md-checkbox>Approximatif</md-checkbox>
          </div>
          <div fxLayout="row">
            <md-input-container class="full-width">
              <textarea mdInput placeholder="Informations additionnelles"></textarea>
            </md-input-container>
          </div>

        </div>
        <md-card-actions class="card-buttons" style="visibility: hidden">
          <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
        </md-card-actions>
      </md-card>

      <div style="clear:both"></div>
      
    </md-card-content>
  </md-card>

  <div fxLayout="row" class="card-buttons">
    <button md-raised-button><md-icon style="color: green;">check_circle</md-icon>Compléter la section</button>
  </div>
</div>
