<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.cauca.surviprevention" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SURVIPrevention</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cauca.ca" href="http://www.cauca.ca">
        CAUSE
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-camera" spec="~2.4.0" source="npm" />
    <plugin name="cordova-plugin-splashscreen" spec="~4.0.0" source="npm" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.2" source="npm" />
    <plugin name="cordova-plugin-whitelist" spec="~1.3" source="npm" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- Icon -->
        <icon density="hdpi" src="res/icon/android/36x36.png" />
        <icon density="ldpi" src="res/icon/android/48x48.png" />
        <icon density="mdpi" src="res/icon/android/72x72.png" />
        <icon density="xhdpi" src="res/icon/android/96x96.png" />
        <!-- Splash screen -->
        <splash density="land-hdpi" src="res/screen/android/screen-land-hdpi.png" />
        <splash density="land-ldpi" src="res/screen/android/screen-land-ldpi.png" />
        <splash density="land-mdpi" src="res/screen/android/screen-land-mdpi.png" />
        <splash density="land-xhdpi" src="res/screen/android/screen-land-xhdpi.png" />
        <splash density="port-hdpi" src="res/screen/android/screen-port-hdpi.png" />
        <splash density="port-ldpi" src="res/screen/android/screen-port-ldpi.png" />
        <splash density="port-mdpi" src="res/screen/android/screen-port-mdpi.png" />
        <splash density="port-xhdpi" src="res/screen/android/screen-port-xhdpi.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- Icon -->
        <!--<icon src="res/icon/ios/29x29.png" width="29" height="29" />
        <icon src="res/ios/40x40.png" width="40" height="40" />
        <icon src="res/ios/50x50.png" width="50" height="50" />-->
        <icon src="res/icon/ios/57x57.png" width="57" height="57" />
        <!--<icon src="res/ios/58x58.png" width="58" height="58" />-->
        <icon src="res/icon/ios/60x60.png" width="60" height="60" />
        <icon src="res/icon/ios/72x72.png" width="72" height="72" />
        <icon src="res/icon/ios/76x76.png" width="76" height="76" />
        <!--<icon src="res/ios/80x80.png" width="80" height="80" />
        <icon src="res/ios/100x100.png" width="100" height="100" />
        <icon src="res/icon/ios/114x114.png" width="114" height="114" />-->
        <icon src="res/icon/ios/120x120.png" width="120" height="120" />
        <icon src="res/icon/ios/144x144.png" width="144" height="144" />
        <icon src="res/icon/ios/152x152.png" width="152" height="152" />
        <!--<icon src="res/ios/167x167.png" width="167" height="167" />-->
        <icon src="res/icon/ios/180x180.png" width="180" height="180" />
        <!-- Splash screen -->
        <splash src="res/screen/ios/320x480.png" width="320" height="480"/>
        <splash src="res/screen/ios/640x960.png" width="640" height="960"/>
        <splash src="res/screen/ios/640x1136.png" width="640" height="1136"/>
        <splash src="res/screen/ios/750x1334.png" width="750" height="1334"/>
        <splash src="res/screen/ios/768x1024.png" width="768" height="1024"/>
        <splash src="res/screen/ios/1024x768.png" width="1024" height="768"/>
        <splash src="res/screen/ios/1242x2208.png" width="1242" height="2208"/>
        <splash src="res/screen/ios/1536x2048.png" width="1536" height="2048"/>
        <splash src="res/screen/ios/2048x1536.png" width="2048" height="1536"/>
        <splash src="res/screen/ios/2208x1242.png" width="2208" height="1242"/>
    </platform>
    <!-- Build and prepare the Angular application. -->
    <hook type="before_prepare" src="scripts/prepareAngularApp.js"/>
    <!-- Configure the statusbar plugin -->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#f5f5f5" />
    <preference name="StatusBarStyle" value="default" />
    <!-- Configure the splashscreen plugin -->
    <icon src="res/icon/default.png" />
    <splash src="res/screen/universal.png" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false"/>
</widget>
