<mat-tab-group>
    <mat-tab *ngFor="let building of buildings" [label]="building.name">
        <div [fxShow]="selected == 'buildingDetails'">
            <app-building-details></app-building-details>
        </div>
        <div [fxShow]="selected == 'contacts'">
            <app-contacts></app-contacts>
        </div>
        <div [fxShow]="selected == 'pnaps'">
            <app-pnaps></app-pnaps>
        </div>
        <div [fxShow]="selected == 'hazardousMaterials'">
            <app-hazardous-materials></app-hazardous-materials>
        </div>
        <div [fxShow]="selected == 'fireProtection'">
            <app-fire-protection></app-fire-protection>
        </div>
        <div [fxShow]="selected == 'particularRisks'">
            <app-particular-risks></app-particular-risks>
        </div>
        <div [fxShow]="selected == 'anomalies'">
            <app-anomalies></app-anomalies>
        </div>
    </mat-tab>
</mat-tab-group>