.report-line {
  padding: 5px;
  border-bottom: solid lightgray 1px;
}

.report-line-text {
}

.report-line-control {
  float: right;
  vertical-align: middle;
}

md-slide-toggle.mat-disabled >>> .mat-slide-toggle-thumb {
  background-color: white;
}

md-slide-toggle.mat-disabled >>> .mat-slide-toggle-bar {
  background: rgba(86,86,86, .5);
}

md-slide-toggle.mat-checked.mat-disabled >>> .mat-slide-toggle-bar {
  background: rgba(0,128,0, .5);
}
