<dx-data-grid
        [(dataSource)]="dataSource"
        [hoverStateEnabled]="true"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="localizations"
            caption="{{'name' | translate}}"
            [calculateCellValue]="getSurveyName"
            editCellTemplate="editname"
            sortOrder="asc"
            sortIndex="0">
    </dxi-column>
    <dxi-column dataField="surveyType" caption="{{'surveyType' | translate}}">
        <dxo-lookup
                [dataSource]="[
                    {value: '1', text: 'residential' | translate},
                    {value: '2', text: 'general' | translate},
                    {value: '3', text: 'agricultural' | translate}
                ]"
                displayExpr="text"
                valueExpr="value">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" caption="{{'isActive' | translate}}" width="10%"></dxi-column>
    <dxi-column alignment="center" caption="{{'modify' | translate}}" cellTemplate="editmode"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-form colCount="2">
            <dxi-item dataField="name" colSpan="2"></dxi-item>
            <dxi-item dataField="surveyType"></dxi-item>
            <dxi-item dataField="isActive" editorType="dxCheckBox"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let data of 'editmode'">
        <a class="dx-link" (click)="onModifyQuestion(data.data.id)">{{'modifyQuestion' | translate}}</a>
    </div>
    <div *dxTemplate="let field of 'editname'">
        <app-multilang [isRequired]="true" [dataField]="field" (valueChanged)="field.setValue($event.value);"></app-multilang>
    </div>
</dx-data-grid>