<dx-data-grid
        [(dataSource)]="dataSource"
        [hoverStateEnabled]="true"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="localizations"
            caption="{{'name' | translate}}"
            [calculateCellValue]="getSurveyName"
            editCellTemplate="editname"
            sortOrder="asc"
            sortIndex="0">
    </dxi-column>
    <dxi-column dataField="surveyType" caption="{{'surveyType' | translate}}" sortOrder="asc"
                sortIndex="0">
        <dxo-lookup
                [dataSource]="surveyTypes"
                valueExpr="value"
                displayExpr="text">
        </dxo-lookup>
    </dxi-column>
    <dxi-column alignment="center" caption="{{'modify' | translate}}" cellTemplate="editmode"></dxi-column>
    <dxi-column alignment="center" caption="{{'duplicate' | translate}}" cellTemplate="copymode" [width]="60"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-editing mode="row" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-texts addRow="{{'add' | translate}}"></dxo-texts>
    </dxo-editing>

    <div *dxTemplate="let data of 'editmode'">
        <a class="dx-link" (click)="onModifyQuestion(data.data.id)">{{'modifyQuestion' | translate}}</a>
    </div>
    <div *dxTemplate="let data of 'copymode'">
        <i class="fa fa-paste dx-link" (click)="onCopySurvey(data.data.id)" title="{{'surveyCopy' | translate}}"></i>
    </div>
    <div *dxTemplate="let field of 'editname'">
        <app-multilang
                [validationGroup]="validationGroup"
                [dataField]="field"
                [value]="field.row.data.localizations"
                (valueChanged)="field.setValue($event.value);">
        </app-multilang>
    </div>
</dx-data-grid>