<md-card>
  <div class="container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start" style="margin:5px">

    <div fxFlex="33" fxFlex.lt-sm="100%">
      <div class="full-width" fxLayout="row">

      <md-input-container>
        <md-icon mdSuffix [style.color]="riskLevel?.color" >home</md-icon>
        <input readonly mdInput placeholder="Niveau de rique" value="{{riskLevel?.description}}">
      </md-input-container>

      </div>
      <div class="full-width" fxLayout="row">
        <md-input-container class="full-width">
          <input readonly mdInput placeholder="Affectation" value="1000 - Résidence">
        </md-input-container>
      </div>

      <div class="full-width" fxLayout="row">
        <md-input-container class="full-width">
          <input readonly mdInput placeholder="Matricule" value="{{mainBuilding?.matricule}}">
        </md-input-container>
      </div>

      <div class="full-width" fxLayout="row" >
        <md-input-container class="full-width">
          <input readonly mdInput placeholder="Alias" value="{{mainBuilding?.alias}}">
        </md-input-container>
      </div>

    </div>

    <div fxFlex="33" fxFlex.lt-sm="100%" *ngIf="mainBuilding">
      <div class="full-width" fxLayout="row" >

        <app-search-box
          [readOnly]="true"
          [dataService]="laneService"
          [descriptionField]="'fullNameForFireCad'"
          [keyField]="'idLane'"
          [placeHolderText]="'Voie de circulation'"
          [(ngModel)]="mainBuilding.idLane">
        </app-search-box>

      </div>
      <div class="full-width" fxLayout="row" >
        <form novalidate (ngSubmit)="onSubmit(planForm)" [formGroup]="planForm" style="padding:0px; margin-top:-3px">
          <app-search-box
            [dataService]="laneService"
            [descriptionField]="'fullNameForFireCad'"
            [keyField]="'idLane'"
            [placeHolderText]="'Transversale'"
            formControlName="idLaneTransversal">
          </app-search-box>
        </form>
      </div>
    </div>
  </div>
</md-card>

<div class="container" fxLayout="row" fxLayoutAlign="start start">
  <md-card class="full-width">
    <md-card-title>Parcours</md-card-title>
    <md-card-content>
      <div *ngFor='let course of courses'>
        <app-intervention-survey-course [course]="course"></app-intervention-survey-course>
      </div>
    </md-card-content>
  </md-card>
</div>

<div>
  <md-card class="master-card">
    <md-card-title>{{buildings.length}} bâtiment(s)</md-card-title>
    <md-card-content>
      <div *ngFor='let building of buildings'>
        <app-intervention-survey-building-detail [building]="building"></app-intervention-survey-building-detail>
      </div>
      <div style="clear:both"></div>
    </md-card-content>
  </md-card>
</div>

<div class="card-buttons">
  <button md-raised-button><md-icon class="complete-section-button" mdSuffix>check_circle</md-icon>Section complétée</button>
</div>
