<md-sidenav-container>
  <md-sidenav #sidenav [mode]="mode" [align]="align">
    <app-menu [items]="menuItems" (select)="select($event)"></app-menu>
  </md-sidenav>

  <app-form-toolbarback [title]="'627 rapide-plat sud'"></app-form-toolbarback>
  <div class="content-under-toolbar">
    <div [ngSwitch]="selectedMenu">
      <div *ngSwitchCase="'waterSupply'">
        <app-survey-fire-hydrant></app-survey-fire-hydrant>
      </div>
      <div *ngSwitchCase="'implantation'">
        <app-survey-implantation-plan></app-survey-implantation-plan>
      </div>
      <div *ngSwitchCase="'pnap'">
        <app-survey-person-requiring-assistance></app-survey-person-requiring-assistance>
      </div>
      <div *ngSwitchCase="'particularRisks'">
        <app-survey-particular-risk></app-survey-particular-risk>
      </div>
      <div *ngSwitchCase="'fireProtection'">
        <app-survey-fire-protection></app-survey-fire-protection>
      </div>
      <div *ngSwitchCase="'contacts'">
        <app-survey-contact></app-survey-contact>
      </div>
      <div *ngSwitchCase="'dangerousMaterial'">
        <app-survey-dangerous-material></app-survey-dangerous-material>
      </div>
      <div *ngSwitchDefault>
        <app-survey-building></app-survey-building>
      </div>
    </div>
  </div>
</md-sidenav-container>
