md-sidenav-container {
  width: 100%;
  height: 100%
}

md-sidenav {
  width: 300px;
}

.spacer {
  flex: 1 1 auto;
}

@media only screen and (max-width: 600px) {
  md-sidenav {
    width: 90%;
  }

  .mat-toolbar {
    padding: 0 0 !important;
  }

  .mat-toolbar .mat-button:first-child {
    padding-left: 0;
  }

  .mat-toolbar .mat-button:last-child {
    padding-right: 0;
  }
}