<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onInitialized)="onInitialized($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onEditingStart)="onEditingStart($event)"
        (onRowValidating)="onRowValidating($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="localizations"
            caption="{{'name' | translate}}"
            [calculateCellValue]="getBuildingName"
            editCellTemplate="editname"
            sortOrder="asc"
            sortIndex="0">
    </dxi-column>
    <dxi-column dataField="civicNumber" caption="{{'civicNumber' | translate}}"></dxi-column>
    <dxi-column dataField="civicLetter" caption="{{'civicLetter' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="civicSupp" caption="{{'civicSupp' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="civicLetterSupp" caption="{{'civicLetterSupp' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="idLane" caption="{{'lane' | translate}}">
        <dxo-lookup [dataSource]="lanes" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="suite" caption="{{'suite' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="appartmentNumber" caption="{{'appartmentNumber' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="floor" caption="{{'floor' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="numberOfFloor" caption="{{'numberOfFloor' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="numberOfAppartment" caption="{{'numberOfAppartment' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="numberOfBuilding" caption="{{'numberOfBuilding' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="yearOfConstruction" caption="{{'yearOfConstruction' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="buildingValue" caption="{{'buildingValue' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="postalCode" caption="{{'postalCode' | translate}}" [visible]="false"></dxi-column>
    <dxi-column
            dataField="idUtilisationCode"
            caption="{{'utilisationCode' | translate}}"
            [visible]="false">
        <dxo-lookup [dataSource]="utilisationCodes" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column
            dataField="idRiskLevel"
            caption="{{'riskLevel' | translate}}"
            [visible]="false">
        <dxo-lookup [dataSource]="riskLevels" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="matricule" caption="{{'matricule' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="vacantLand" dataType="boolean" caption="{{'vacantLand' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="isParent" dataType="boolean" caption="{{'isParent' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" caption="{{'isActive' | translate}}" width="10%"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-popup title="{{'building' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="2">
            <dxi-item dataField="localizations" colSpan="2"></dxi-item>
            <dxi-item dataField="idLane" [isRequired]="true" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="civicNumber" [isRequired]="true" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="civicLetter" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="civicSupp" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="civicLetterSupp" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="suite" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="appartmentNumber" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="postalCode" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="floor" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="numberOfFloor" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="numberOfAppartment" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="numberOfBuilding" [editorOptions]="{'readOnly': !isParent}"></dxi-item>
            <dxi-item dataField="yearOfConstruction"></dxi-item>
            <dxi-item dataField="buildingValue"></dxi-item>
            <dxi-item dataField="idUtilisationCode"></dxi-item>
            <dxi-item dataField="idRiskLevel"></dxi-item>
            <dxi-item dataField="matricule"></dxi-item>
            <dxi-item dataField="vacantLand" editorType="dxCheckBox"></dxi-item>
            <dxi-item dataField="isParent" editorType="dxCheckBox" [editorOptions]="{'readOnly': true}"></dxi-item>
            <dxi-item dataField="isActive" editorType="dxCheckBox"></dxi-item>
            <dxi-item template="listButton" colSpan="2"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let field of 'listButton'">
        <dx-button text="{{'childBuildings' | translate}}" (onClick)="showPopup('childBuildings')" [disabled]="!isParent"></dx-button>
        <dx-button text="{{'contacts' | translate}}" (onClick)="showPopup('contacts')"></dx-button>
        <dx-button text="{{'pnaps' | translate}}" (onClick)="showPopup('pnaps')"></dx-button>
    </div>
    <div *dxTemplate="let field of 'editname'">
        <app-multilang [isRequired]="true" [value]="field.row.data.localizations" (valueChanged)="field.setValue($event.value);"></app-multilang>
    </div>
</dx-data-grid>
<dx-popup
        class="popup"
        [showTitle]="true"
        title="{{'childBuildings' | translate}}"
        [closeOnOutsideClick]="true"
        [toolbarItems]="toolbarItems"
        [(visible)]="popupVisible.childBuildings">
    <div *dxTemplate="let data of 'content'">
        <app-managementbuilding-list [isParent]="false" [parentBuilding]="selectedBuidling"></app-managementbuilding-list>
    </div>
</dx-popup>
<dx-popup
        class="popup"
        [showTitle]="true"
        title="{{'contacts' | translate}}"
        [closeOnOutsideClick]="true"
        [toolbarItems]="toolbarItems"
        [(visible)]="popupVisible.contacts">
    <div *dxTemplate="let data of 'content'">
        <app-manage-contacts [service]="'building'" [building]="selectedBuidling.id"></app-manage-contacts>
    </div>
</dx-popup>
<dx-popup
        class="popup"
        [showTitle]="true"
        title="{{'pnaps' | translate}}"
        [closeOnOutsideClick]="true"
        [toolbarItems]="toolbarItems"
        [(visible)]="popupVisible.pnaps">
    <div *dxTemplate="let data of 'content'">
        <app-manage-pnaps [service]="'building'" [building]="selectedBuidling.id"></app-manage-pnaps>
    </div>
</dx-popup>