<div>

  <md-card class="master-card">
    <md-card-title>Matières dangeureuse</md-card-title>
    <md-card-content>

      <md-card class="detail-card">
        <form>
          <div fxLayout="row" class="full-width">
            <md-select placeholder="NIP" class="full-width">
              <md-option value="1">1202 - Huile de chauffage, légère</md-option>
            </md-select>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput type="number" placeholder="Nombre"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Contenant"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container class="full-width">
              <input mdInput placeholder="Capacité" type="number"/>
            </md-input-container>
            <md-select placeholder="Unité">
              <md-option>Litre</md-option>
              <md-option>Gallon</md-option>
            </md-select>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Localisation"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Étage" type="number"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Mur"/>
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Section"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="État"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Entrée gaz"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Périmètre"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container class="full-width">
              <textarea mdInput placeholder="Autres informations"></textarea>
            </md-input-container>
          </div>
        </form>
        <md-card-actions class="card-buttons">
          <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
        </md-card-actions>
      </md-card>

      <md-card class="detail-card">
        <form>
          <div fxLayout="row" class="full-width">
            <md-select placeholder="NIP" class="full-width">
              <md-option value="1">1202 - Huile de chauffage, légère</md-option>
            </md-select>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput type="number" placeholder="Nombre"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Contenant"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container class="full-width">
              <input mdInput placeholder="Capacité" type="number"/>
            </md-input-container>
            <md-select placeholder="Unité">
              <md-option>Litre</md-option>
              <md-option>Gallon</md-option>
            </md-select>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Localisation"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Étage" type="number"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Mur"/>
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Section"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="État"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Entrée gaz"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Périmètre"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container class="full-width">
              <textarea mdInput placeholder="Autres informations"></textarea>
            </md-input-container>
          </div>
        </form>
        <md-card-actions class="card-buttons">
          <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
        </md-card-actions>
      </md-card>

      <md-card class="detail-card empty-card">
        <div class="centered-card-content">
          <button md-raised-button><md-icon>add_circle</md-icon>  Ajouter une matière dangeureuse</button>
        </div>
        <div class="hidden-content">
          <div fxLayout="row" class="full-width">
            <md-select placeholder="" class="full-width">
              <md-option value="1">1202 - Huile de chauffage, légère</md-option>
            </md-select>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput type="number" placeholder="Nombre"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Contenant"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container class="full-width">
              <input mdInput placeholder="Capacité" type="number"/>
            </md-input-container>
            <md-select placeholder="">
              <md-option>Litre</md-option>
              <md-option>Gallon</md-option>
            </md-select>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Localisation"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Étage" type="number"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Mur"/>
            </md-input-container>
            <md-input-container>
              <input mdInput placeholder="Section"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="État"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Entrée gaz"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container>
              <input mdInput placeholder="Périmètre"/>
            </md-input-container>
          </div>
          <div fxLayout="row">
            <md-input-container class="full-width">
              <textarea mdInput placeholder="Autres informations"></textarea>
            </md-input-container>
          </div>
        </div>
        <md-card-actions class="card-buttons" style="visibility: hidden;">
          <button md-raised-button><md-icon>add_circle</md-icon>Supprimer</button>
        </md-card-actions>
      </md-card>

      <div style="clear:both"></div>

    </md-card-content>
  </md-card>

  <div fxLayout="row" class="card-buttons">
    <button md-raised-button><md-icon style="color: green;">check_circle</md-icon>Compléter la section</button>
  </div>
</div>
