<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onInitialized)="onInitialized($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowValidating)="onRowValidating($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
          dataField="localizations"
          caption="{{'name' | translate}}"
          [calculateCellValue]="getTypeName"
          editCellTemplate="editname"
          sortOrder="asc"
          sortIndex="0">
    </dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" caption="{{'isActive' | translate}}" width="10%"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-popup title="{{'fireHydrantType' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="1">
            <dxi-item dataField="localizations"></dxi-item>
            <dxi-item dataField="isActive" editorType="dxCheckBox"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let field of 'editname'">
        <app-multilang [isRequired]="true" [value]="field.row.data.localizations" (valueChanged)="field.setValue($event.value);"></app-multilang>
    </div>
</dx-data-grid>