<div>
  <div dxLayout="row" fxLayoutAlign="start">
    <div fxFlex="20">
      <span><b>Adresse</b></span>
    </div>
    <div fxFlex="40">
      <span>{{address?.address}}</span>
    </div>
    <div fxFlex="30">
      <span><b>Nombre d'adresse</b></span>
    </div>
    <div fxFlex="10">
      <span>{{address?.number_of_address}}</span>
    </div>
  </div>
  <div dxLayout="row" fxLayoutAlign="start">
    <div fxFlex="20">
      <span><b>Affectation</b></span>
    </div>
    <div fxFlex="40">
      <span>{{address?.assignment}}</span>
    </div>
    <div fxFlex="30">
      <span><b>Nombre de bâtiments</b></span>
    </div>
    <div fxFlex="10">
      <span>{{address?.number_of_building}}</span>
    </div>
  </div>
  <div dxLayout="row">
    <div><b>Parcours</b></div>
    <div *ngFor="let plan of address?.plan_course">{{plan}}</div>
  </div>
</div>



