<mat-toolbar>
    <mat-toolbar-row>
        <span class="title">{{'survey' | translate}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card *ngFor="let category of summary">
    <mat-card-title>{{category.title}}</mat-card-title>
    <mat-card-content>
        <div *ngFor="let answer of category.answerSummary; let index = index;">
            <div  *ngIf="answer.questionType === 4 && answer.childSurveyAnswerList != null &&  answer.childSurveyAnswerList.length > 0">
                <h4>{{answer.questionTitle}} #{{index + 1}}</h4>
                <div fxLayout="row" *ngFor="let answerChild of answer.childSurveyAnswerList">
                    <div fxFlex="60%">{{answerChild.questionDescription}}</div>
                    <div>{{answerChild.answer}}</div>
                </div>
            </div>
            <div *ngIf="answer.questionType !== 4">
                <div fxLayout="row">
                    <div fxFlex="60%">{{answer.questionDescription}}</div>
                    <div>{{answer.answer}}</div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>