<h2 mat-dialog-title>{{'chooseTemplate' | translate }}</h2>

<mat-dialog-content [formGroup]="form">
  <p>
  <mat-form-field>
    <mat-select id='reportSelector' placeholder="{{'select' | translate}}" (selectionChange)="openExistingTemplate($event.value)">
      <mat-option *ngFor="let template of templateIdentifiers" [value]="template">
        {{template.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </p>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button class="mat-raised-button"(click)="cancel()">{{'cancel' | translate}}</button>
  <button class="mat-raised-button mat-primary"(click)="create(nameInput.value)" [disabled]="isDisabled">{{'create' | translate}}</button>
</mat-dialog-actions>
