<md-sidenav-container>
  <md-sidenav #sidenav [mode]="mode" [align]="align">
    <app-menu [items]="menuItems" (select)="select($event)" ></app-menu>
  </md-sidenav>

  <app-toolbar-back [title]="'627 rapide-plat sud'" [mode]="mode" [sidenav]="sidenav"></app-toolbar-back>
  <div class="content-under-toolbar">
    <div [ngSwitch]="selectedMenu">
      <div *ngSwitchCase="'pnap'">
        <app-card-layout title="P.N.A.P."
                         [items]="building.building.personsRequiringAssistance"
                         [componentType]="'PersonRequiringAssistanceComponent'"
                         (deleteClick)="onBuildingPnapDeleted($event)"
                         (completionClick)="onCompleteSection($event)"
                         (addClick)="onBuildingPnapAdd()"></app-card-layout>
      </div>
      <div *ngSwitchCase="'contacts'">
        <app-card-layout title="Contacts"
                         [items]="building.building.contacts"
                         [componentType]="'ContactComponent'"
                         (deleteClick)="onBuildingContactDeleted($event)"
                         (completionClick)="onCompleteSection($event)"
                         (addClick)="onBuildingContactAdd()"></app-card-layout>
      </div>
      <div *ngSwitchCase="'dangerousMaterial'">
        <app-card-layout title="Matières dangeureuses"
                         [items]="building.building.hazardousMaterials"
                         [componentType]="'DangerousMaterialComponent'"
                         (deleteClick)="onBuildingMaterialDeleted($event)"
                         (completionClick)="onCompleteSection($event)"
                         (addClick)="onBuildingMaterialAdd()"></app-card-layout>
      </div>
      <div *ngSwitchDefault>
        <app-building-detail [interventionPlanBuilding]="building" *ngIf="building">
        </app-building-detail>
      </div>
    </div>
  </div>
</md-sidenav-container>
