:host > div div[fxLayout='column'] {
  height: 100%;
}

.title {
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
}

.tools {
  text-align: center;
}

.details ::ng-deep div[fxLayout="row"] {
  line-height: 3em;
  border-bottom: solid 1px #cccccc;
}

.details ::ng-deep div[fxLayout="row"] > div[fxFlex="30%"] {
  font-weight: bolder;
}

.details ::ng-deep div[fxLayout="row"] ul {
  line-height: 1.5em;
}