:host > div[fxLayout='column'] {
  height: 100%;
}

.title {
  font-size: 2em;
  font-weight: bolder;
  text-align: center;
  padding: 10px;
  background-color: #ccc;
}

.tools {
  padding: 10px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  border: solid 2px #ccc;
  border-radius: 10px;
}

.tools .actionTitle {
  font-weight: bolder;
  margin-bottom: 5px;
}

.tools button {
  margin: 0 5px;
}

.details {
  height: 100%;
}

.details div[fxFlex="80%"] {
  height: 100%;
  overflow: auto;
}

.details ::ng-deep div[fxLayout="row"] {
  line-height: 2.5em;
  border-bottom: solid 1px #cccccc;
}

.details ::ng-deep div[fxLayout="row"] > div[fxFlex="30%"] {
  font-weight: bolder;
}
