.search-item-icon{
  margin-right: 40px;
}

.search-item-text{
  float: left;
}

.search-item-icon{
  float: right;
}

.search-item{
  width: 100%;
  margin-right: 0px;
  border-bottom: solid rgba(255,255,255,0.5) 1px;
}

.search-list{
  background-color: rgba(255,255,255,0.5);
}

.search-item-icon[_ngcontent-c12] {
  margin-right: 0px;
}

.search-input-container{
  //width: 90%;
  padding-left: 15px;
  padding-right: 30px;
}

.search-input{
  width: 100%;
}
