<div>
    <div style="text-align: center">
        <h2>Contact(s)</h2>
    </div>
    <div style="text-align:right; width: 100%">
        <button md-button>Ajouter...</button>
    </div>
    <md-card>
        <form>
            <div fxLayout="row" class="full-width">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Nom"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Prénom"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Ville"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Téléphone"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Poste"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Cellulaire"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Urgence"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Code"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Priorité"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <textarea mdInput placeholder="Détails"></textarea>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <div style="text-align:right; width:100%">
                    <button md-button>Supprimer</button>
                </div>
            </div>
        </form>
        <md-card-actions class="card-buttons">
          <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
        </md-card-actions>
    </md-card>
    <md-card>
        <form>
            <div fxLayout="row" class="full-width">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Nom"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Prénom"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <input mdInput placeholder="Ville"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Téléphone"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Poste"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Cellulaire"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Urgence"/>
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Code"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Priorité"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container class="full-width">
                    <textarea mdInput placeholder="Détails"></textarea>
                </md-input-container>
            </div>
        </form>
      <md-card-actions class="card-buttons">
        <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
      </md-card-actions>
    </md-card>
</div>

<div style="clear:both"></div>