<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onInitialized)="onInitialized($event)"
        (onEditingStart)="onEditingStart($event)"
        (onEditorPreparing)="onEditorPreparing($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)"
        (onRowValidating)="ondRowValidating($event)"
        (onCellPrepared)="onCellPrepared($event)">
    <dxi-column
            dataField="firstName"
            caption="{{'firstName' | translate}}"
            [calculateCellValue]="getFirstname"
            sortOrder="asc"
            sortIndex="0">
    </dxi-column>
    <dxi-column
            dataField="lastName"
            caption="{{'lastName' | translate}}"
            [calculateCellValue]="getLastname"
            sortOrder="asc"
            sortIndex="1">
    </dxi-column>

    <dxi-column [visible]="false" dataField="username" caption="{{'username' | translate}}"></dxi-column>
    <dxi-column [visible]="false" dataField="password" caption="{{'password' | translate}}"></dxi-column>
    <dxi-column [visible]="false" dataField="passwordConfirm" caption="{{'passwordConfirm' | translate}}"></dxi-column>
    <dxi-column [visible]="false" dataField="resetPassword" dataType="boolean" caption="{{'passwordReset' | translate}}"></dxi-column>
    <dxi-column
            [visible]="false"
            [calculateCellValue]="getEmail"
            dataField="email"
            caption="{{'email' | translate}}">
    </dxi-column>
    <dxi-column
            [visible]="false"
            [calculateCellValue]="getTelephone"
            dataField="telephone"
            caption="{{'telephone' | translate}}">
    </dxi-column>
    <dxi-column [visible]="false" dataField="fireSafetyDepartments" editCellTemplate="editDepartments" caption="{{'fireSafetyDepartment' | translate}}"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-editing mode="popup" [useIcons]="true" [allowUpdating]="true" [allowAdding]="readOnlyImported" [allowDeleting]="true">
        <dxo-texts addRow="{{'add' | translate}}"></dxo-texts>
        <dxo-popup title="{{'webuser' | translate}}" [showTitle]="true"></dxo-popup>
        <dxo-form colCount="2">
            <dxi-item dataField="username" [isRequired]="true"></dxi-item>
            <dxi-item itemType="empty"></dxi-item>
            <dxi-item dataField="password" [editorOptions]="passwordOptions">
                <dxi-validation-rule type="custom" message="{{'passwordError' | translate}}" [validationCallback]="onPasswordChanged"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="passwordConfirm" [editorOptions]="passwordOptions">
                <dxi-validation-rule type="compare" [comparisonTarget]="onPasswordCompare"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="resetPassword" editorType="dxCheckBox" colSpan="2"></dxi-item>
            <dxi-item dataField="fireSafetyDepartments" colSpan="2"></dxi-item>
            <dxi-item itemType="group" colSpan="2" colCount="2" caption="{{'personnalInformation' | translate}}">
                <dxi-item dataField="firstName" [isRequired]="true"></dxi-item>
                <dxi-item dataField="lastName" [isRequired]="true"></dxi-item>
                <dxi-item dataField="email" [editorOptions]="{mode: 'email'}">
                    <dxi-validation-rule type="email"></dxi-validation-rule>
                </dxi-item>
                <dxi-item dataField="telephone" [editorOptions]="{mode: 'tel', mask: '000-000-0000'}">
                    <dxi-validation-rule type="pattern" pattern="^[0-9]{10}$"></dxi-validation-rule>
                </dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let field of 'editDepartments'">
        <dx-data-grid
                [dataSource]="webuserFireSafetyDepartments"
                [hoverStateEnabled]="true"
                [rowAlternationEnabled]="true"
                (onInitialized)="setDepartmentField(field)"
                (onInitNewRow)="onNewUserDepartment($event)"
                (onRowInserted)="onUserDepartmentInserted($event)"
                (onRowUpdated)="onUserDepartmentUpdated($event)"
                (onRowRemoved)="onUserDepartmentRemoved($event)"
                (onEditorPreparing)="departmentEditorPreparing($event)">
            <dxi-column
                    dataField="idFireSafetyDepartment"
                    [validationRules]="[{ type: 'required' }]"
                    caption="{{'fireSafetyDepartment' | translate}}">
                <dxo-lookup [dataSource]="departments" displayExpr="name" valueExpr="id">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="isActive" dataType="boolean" caption="{{'isActive' | translate}}" width="10%"></dxi-column>

            <dxo-editing mode="row" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"></dxo-editing>
        </dx-data-grid>
    </div>
</dx-data-grid>
