<cause-dx-data-grid
  keyExpr="id"
  [dataSource]="users"
  (onInitNewRow)="onInitNewRow($event)"
  (onRowInserted)="onRowInserted($event)"
  (onRowUpdated)="onRowUpdated($event)"
  (onRowRemoved)="onRowRemoved($event)">
  <dxi-column dataField="userName" [caption]="'username' | translate"></dxi-column>
  <dxi-column dataField="firstName" [caption]="'firstName' | translate"></dxi-column>
  <dxi-column dataField="lastName" [caption]="'lastName' | translate"></dxi-column>
  <dxi-column dataField="password" [caption]="'password' | translate" [visible]="false"></dxi-column>
  <dxi-column dataField="confirmPassword" [caption]="'passwordConfirm' | translate" [visible]="false"></dxi-column>
  <dxi-column dataField="email" [caption]="'email' | translate" [visible]="false"></dxi-column>
  <dxi-column dataField="phoneNumber" [caption]="'telephone' | translate" [visible]="false"></dxi-column>
  <dxi-column
    dataField="userFireSafetyDepartments"
    [caption]="'fireSafetyDepartments' | translate"
    editCellTemplate="fireSafetyDepartmentsEditTemplate"
    [visible]="showColumnXS"
    [calculateDisplayValue]="calculateFireSafetyDepartmentsDisplayValue">
  </dxi-column>
  <dxi-column
    dataField="permissions"
    editCellTemplate="permissionsEditTemplate"
    [visible]="false"
    caption="{{'permissions' | translate}}">
  </dxi-column>
  <dxi-column
    dataField="groups"
    [caption]="'groups' | translate"
    editCellTemplate="groupsEditTemplate"
    [visible]="showColumnXS"
    [calculateDisplayValue]="calculateGroupsDisplayValue">
  </dxi-column>
  <dxo-editing mode="popup" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
    <dxo-popup [title]="'webuser' | translate" [showTitle]="true"></dxo-popup>
    <dxo-form colCount="1" [labelLocation]="showColumnXS ? 'left' : 'top'" [onInitialized]="onFormInitialized">
      <dxi-item itemType="group" colCount="2">
        <dxi-item dataField="userName" [isRequired]="true"></dxi-item>
        <dxi-item dataField="userFireSafetyDepartments"></dxi-item>
        <dxi-item dataField="password" [editorOptions]="passwordOptions">
          <dxi-validation-rule type="custom" [message]="'passwordError' | translate"
                               [validationCallback]="onPasswordChanged"></dxi-validation-rule>
          <dxi-validation-rule type="custom" [message]="'passwordRequired' | translate"
                               [validationCallback]="isPasswordRequired"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="confirmPassword" [editorOptions]="passwordOptions">
          <dxo-label [text]="'passwordConfirm' | translate"></dxo-label>
          <dxi-validation-rule
            type="compare"
            [comparisonTarget]="passwordComparison"
            [message]="'user.yourConfirmationMustBeTheSameAsYourPassword' | translate"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="groups"></dxi-item>
      </dxi-item>
      <dxi-item itemType="group" colCount="2" [caption]="'personalInfo' | translate">
        <dxi-item dataField="firstName" [isRequired]="true"></dxi-item>
        <dxi-item dataField="lastName" [isRequired]="true"></dxi-item>
        <dxi-item dataField="email"></dxi-item>
        <dxi-item dataField="phoneNumber" [editorOptions]="{ mask: '+1 (XXX) XXX-XXXX', maskRules: rules}"></dxi-item>
      </dxi-item>
      <dxi-item itemType="group" colCount="2" [caption]="'permissions' | translate">
        <dxi-item dataField="permissions" colSpan="2"></dxi-item>
      </dxi-item>
    </dxo-form>
  </dxo-editing>


  <div *dxTemplate="let field of 'fireSafetyDepartmentsEditTemplate'">
    <dx-tag-box
      valueExpr="id"
      displayExpr="name"
      [dataSource]="fireSafetyDepartments"
      [searchEnabled]="true"
      (onInitialized)="getUserFireSafetyDepartment(field, $event)"
      (onValueChanged)="setUserFireSafetyDepartment(field, $event)">
    </dx-tag-box>
  </div>

  <div *dxTemplate="let field of 'permissionsEditTemplate'">
    <dx-list
      [dataSource]="permissions"
      itemTemplate="rowTemplate"
      [searchEnabled]="true"
      [searchExpr]="['name', 'tag']"
      [hoverStateEnabled]="false">
      <div *dxTemplate="let permission of 'rowTemplate'">
        <dx-check-box
          [text]="permission.name"
          (onInitialized)="getPermissionStatus(field, permission, $event)"
          (onValueChanged)="checkBoxToggled(field, permission, $event)">
        </dx-check-box>
      </div>
    </dx-list>
  </div>

  <div *dxTemplate="let field of 'groupsEditTemplate'">
    <dx-tag-box
      valueExpr="id"
      displayExpr="name"
      [dataSource]="groups"
      (onInitialized)="getUserGroup(field, $event)"
      (onValueChanged)="setUserGroup(field, $event)">
    </dx-tag-box>
  </div>
</cause-dx-data-grid>
