<mat-tab-group>
    <mat-tab label="{{'permission' | translate}}">
        <app-management-access-permission></app-management-access-permission>
    </mat-tab>
    <mat-tab label="{{'webuser' | translate}}">
        <app-management-access-webuser></app-management-access-webuser>
    </mat-tab>
    <mat-tab label="{{'fireSafetyDepartment' | translate}}">
        <app-management-access-firesafetydepartment></app-management-access-firesafetydepartment>
    </mat-tab>
    <mat-tab label="{{'firestation' | translate}}">
        <app-management-access-firestation></app-management-access-firestation>
    </mat-tab>
    <mat-tab label="{{'apisAction' | translate}}">
        <app-management-access-apisaction></app-management-access-apisaction>
    </mat-tab>
</mat-tab-group>