<ng-container *ngIf="allowChange">
    <div class="float">
        <app-upload  accept="image/*" (readend)="uploadPicture($event)" [icon]="icon"></app-upload>
        <dx-button class="edit-button" icon="toolbox" (onClick)="editPicture()"></dx-button>
    </div>
</ng-container>
<div #container>
    <img [src]="src" />

    <dx-popup
    title="Popup Title"
    [(visible)]="isPopupVisible">

    <div *dxTemplate="let data of 'content'">
        <lib-web-sketch-tool [dataUri]="picture.dataUri" [json]="picture.sketchJson"></lib-web-sketch-tool>
    </div>
    </dx-popup>

</div>

