<div fxLayout="row">
    <div fxFlex="30%">{{'planNumber' | translate}}</div>
    <div></div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'riskLevel' | translate}}</div>
    <div>{{generalInfo}}</div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'assignment' | translate}}</div>
    <div>{{generalInfo}}</div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'matricule' | translate}}</div>
    <div>{{generalInfo.mainBuildingMatricule}}</div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'alias' | translate}}</div>
    <div>{{generalInfo.mainBuildingName}}</div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'lane' | translate}}</div>
    <div>{{generalInfo}}</div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'transversal' | translate}}</div>
    <div>{{generalInfo}}</div>
</div>