<dx-data-grid
        [dataSource]="countries"
        [hoverStateEnabled]="true"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="name"
            caption="{{'name' | translate}}"
            [calculateCellValue]="onCalculateCellValue"
            editCellTemplate="editname">
    </dxi-column>
    <dxi-column dataField="codeAlpha2" caption="{{'codeAlpha2' | translate}}"></dxi-column>
    <dxi-column dataField="codeAlpha3" caption="{{'codeAlpha3' | translate}}"></dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" caption="{{'isActive' | translate}}" width="10%"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-popup title="{{'country' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="1">
            <dxi-item dataField="name" [isRequired]="true"></dxi-item>
            <dxi-item dataField="codeAlpha2" [isRequired]="true"></dxi-item>
            <dxi-item dataField="codeAlpha3" [isRequired]="true"></dxi-item>
            <dxi-item dataField="isActive" editorType="dxCheckBox"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let rowname of 'editname'">
        <app-multilang [value]="rowname.row.data.name" (onValueChanged)="rowname.setValue($event.value);"></app-multilang>
    </div>
</dx-data-grid>