md-card {
    float:left;
}

.full-width {
    width:100%;
}


.table {
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    display: flex;
}

.row .rowspan2 {
    flex: 0 0 100%;
}

.row div {
    flex: 1;
}
