<div>
    <md-card class="master-card">
        <md-card-title>Borne(s)</md-card-title>
        <md-card-content>

            <md-card class="detail-card">
                <div fxLayout="row" class="full-width">
                    <md-input-container class="full-width">
                        <input mdInput placeholder="Numéro"/>
                    </md-input-container>
                </div>
                <div style="margin-bottom:15px;">
                    <md-button-toggle-group #group="mdButtonToggleGroup">
                        <md-button-toggle value="left" style="color: cornflowerblue">
                            <md-icon style="background-color: cornflowerblue">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: forestgreen">
                            <md-icon style="background-color: forestgreen">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: orange">
                            <md-icon style="background-color: orange">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: red">
                            <md-icon style="background-color: red">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: yellow">
                            <md-icon style="background-color: yellow">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left">
                            <md-icon style="background-color: white">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                    </md-button-toggle-group>
                </div>
                <div fxLayout="row">
                    <md-select placeholder="Type">
                        <md-option>Borne fontaine</md-option>
                        <md-option>Borne sèche</md-option>
                        <md-option>Citerne</md-option>
                        <md-option>Lac</md-option>
                    </md-select>
                </div>
                <div fxLayout="row">
                    <md-input-container>
                        <input mdInput placeholder="Capacité"/>
                    </md-input-container>
                    <md-select placeholder="Unité">
                        <md-option>G</md-option>
                        <md-option>GI</md-option>
                        <md-option>GIPM</md-option>
                        <md-option>GPM</md-option>
                        <md-option>Indéterminé</md-option>
                        <md-option>L</md-option>
                        <md-option>LPM</md-option>
                    </md-select>
                </div>
                <hr>

                <div class="table">
                    <div class="row">
                        <div class="cell">

                            <md-radio-group style="flex-direction: row;display: inline-flex;"
                                            [(ngModel)]="fireHydrantSelectedType">
                                <md-radio-button [value]="firehydrant_type.Type"
                                                 *ngFor="let firehydrant_type of FIREHYDRANT_TYPE"
                                                 style="margin:7px;">{{firehydrant_type.Type}}
                                </md-radio-button>
                            </md-radio-group>

                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <div *ngIf="fireHydrantSelectedType == 'Adresse'">
                                <md-select placeholder="Emplacement">
                                    <md-option>En face</md-option>
                                    <md-option>A côté</md-option>
                                    <md-option>A l'adresse</md-option>
                                    <md-option>A l'arrière</md-option>
                                    <md-option>Au bout</md-option>
                                    <md-option>Au coin</md-option>
                                    <md-option>Au dessus</md-option>
                                    <md-option>Au dessous</md-option>
                                    <md-option>Près</md-option>
                                    <md-option>Visible du</md-option>
                                </md-select>
                                <md-input-container>
                                    <input mdInput placeholder="No. Civique"/>
                                </md-input-container>
                                <md-input-container class="full-width">
                                    <input mdInput value="Rapide-Plat Sud (Chemin du)"
                                           placeholder="Voie de circulation">
                                </md-input-container>
                            </div>
                            <div *ngIf="fireHydrantSelectedType == 'Intersection'">
                                <md-input-container class="full-width">
                                    <input mdInput value="Rapide-Plat Sud (Chemin du)"
                                           placeholder="Voie de circulation">
                                </md-input-container>
                                <md-input-container class="full-width">
                                    <input mdInput value="Scott (Avenue)" placeholder="Transversale">
                                </md-input-container>
                            </div>
                            <div *ngIf="fireHydrantSelectedType == 'Latitude / Longitude'">
                                <div class="table">
                                    <div class="cell rowspan2">
                                        <div>
                                            <md-input-container class="full-width">
                                                <input mdInput placeholder="Latitude">
                                            </md-input-container>
                                            <md-input-container class="full-width">
                                                <input mdInput placeholder="Longitude">
                                            </md-input-container>
                                        </div>
                                        <div>
                                            <button md-button>Localiser...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="fireHydrantSelectedType == 'Autre'">
                                <md-input-container class="full-width">
                                    <textarea mdInput placeholder="Autre emplacement"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <md-card-actions class="card-buttons">
                    <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
                </md-card-actions>
            </md-card>

            <md-card class="detail-card">
                <div fxLayout="row" class="full-width">
                    <md-input-container class="full-width">
                        <input mdInput placeholder="Numéro"/>
                    </md-input-container>
                </div>
                <div style="margin-bottom:15px;">
                    <md-button-toggle-group #group="mdButtonToggleGroup">
                        <md-button-toggle value="left" style="color: cornflowerblue">
                            <md-icon style="background-color: cornflowerblue">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: forestgreen">
                            <md-icon style="background-color: forestgreen">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: orange">
                            <md-icon style="background-color: orange">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: red">
                            <md-icon style="background-color: red">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: yellow">
                            <md-icon style="background-color: yellow">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left">
                            <md-icon style="background-color: white">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                    </md-button-toggle-group>
                </div>
                <div fxLayout="row">
                    <md-select placeholder="Type">
                        <md-option>Borne fontaine</md-option>
                        <md-option>Borne sèche</md-option>
                        <md-option>Citerne</md-option>
                        <md-option>Lac</md-option>
                    </md-select>
                </div>
                <div fxLayout="row">
                    <md-input-container>
                        <input mdInput placeholder="Capacité"/>
                    </md-input-container>
                    <md-select placeholder="Unité">
                        <md-option>G</md-option>
                        <md-option>GI</md-option>
                        <md-option>GIPM</md-option>
                        <md-option>GPM</md-option>
                        <md-option>Indéterminé</md-option>
                        <md-option>L</md-option>
                        <md-option>LPM</md-option>
                    </md-select>
                </div>
                <hr>

                <div class="table">
                    <div class="row">
                        <div class="cell">

                            <md-radio-group style="flex-direction: row;display: inline-flex;"
                                            [(ngModel)]="fireHydrantSelectedType">
                                <md-radio-button [value]="firehydrant_type.Type"
                                                 *ngFor="let firehydrant_type of FIREHYDRANT_TYPE"
                                                 style="margin:7px;">{{firehydrant_type.Type}}
                                </md-radio-button>
                            </md-radio-group>

                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <div *ngIf="fireHydrantSelectedType == 'Adresse'">
                                <md-select placeholder="Emplacement">
                                    <md-option>En face</md-option>
                                    <md-option>A côté</md-option>
                                    <md-option>A l'adresse</md-option>
                                    <md-option>A l'arrière</md-option>
                                    <md-option>Au bout</md-option>
                                    <md-option>Au coin</md-option>
                                    <md-option>Au dessus</md-option>
                                    <md-option>Au dessous</md-option>
                                    <md-option>Près</md-option>
                                    <md-option>Visible du</md-option>
                                </md-select>
                                <md-input-container>
                                    <input mdInput placeholder="No. Civique"/>
                                </md-input-container>
                                <md-input-container class="full-width">
                                    <input mdInput value="Rapide-Plat Sud (Chemin du)"
                                           placeholder="Voie de circulation">
                                </md-input-container>
                            </div>
                            <div *ngIf="fireHydrantSelectedType == 'Intersection'">
                                <md-input-container class="full-width">
                                    <input mdInput value="Rapide-Plat Sud (Chemin du)"
                                           placeholder="Voie de circulation">
                                </md-input-container>
                                <md-input-container class="full-width">
                                    <input mdInput value="Scott (Avenue)" placeholder="Transversale">
                                </md-input-container>
                            </div>
                            <div *ngIf="fireHydrantSelectedType == 'Latitude / Longitude'">
                                <div class="table">
                                    <div class="cell rowspan2">
                                        <div>
                                            <md-input-container class="full-width">
                                                <input mdInput placeholder="Latitude">
                                            </md-input-container>
                                            <md-input-container class="full-width">
                                                <input mdInput placeholder="Longitude">
                                            </md-input-container>
                                        </div>
                                        <div>
                                            <button md-button>Localiser...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="fireHydrantSelectedType == 'Autre'">
                                <md-input-container class="full-width">
                                    <textarea mdInput placeholder="Autre emplacement"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <md-card-actions class="card-buttons">
                    <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
                </md-card-actions>
            </md-card>

            <md-card class="detail-card empty-card">
                <div class="centered-card-content">
                    <button md-raised-button class="add-button"><md-icon class="add-button-picture">add_circle</md-icon>  Ajouter une borne</button>
                </div>
                <div class="hidden-content">
                <div fxLayout="row" class="full-width">
                    <md-input-container class="full-width">
                        <input mdInput placeholder="Numéro"/>
                    </md-input-container>
                </div>
                <div style="margin-bottom:15px;">
                    <md-button-toggle-group #group="mdButtonToggleGroup">
                        <md-button-toggle value="left" style="color: cornflowerblue">
                            <md-icon style="background-color: cornflowerblue">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: forestgreen">
                            <md-icon style="background-color: forestgreen">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: orange">
                            <md-icon style="background-color: orange">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: red">
                            <md-icon style="background-color: red">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left" style="color: yellow">
                            <md-icon style="background-color: yellow">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                        <md-button-toggle value="left">
                            <md-icon style="background-color: white">check_box_outline_blank</md-icon>
                        </md-button-toggle>
                    </md-button-toggle-group>
                </div>
                <div fxLayout="row">
                    <md-select placeholder="">
                        <md-option>Borne fontaine</md-option>
                        <md-option>Borne sèche</md-option>
                        <md-option>Citerne</md-option>
                        <md-option>Lac</md-option>
                    </md-select>
                </div>
                <div fxLayout="row">
                    <md-input-container>
                        <input mdInput placeholder=""/>
                    </md-input-container>
                    <md-select placeholder="">
                        <md-option>G</md-option>
                        <md-option>GI</md-option>
                        <md-option>GIPM</md-option>
                        <md-option>GPM</md-option>
                        <md-option>Indéterminé</md-option>
                        <md-option>L</md-option>
                        <md-option>LPM</md-option>
                    </md-select>
                </div>
                <hr>

                <div class="table">
                    <div class="row">
                        <div class="cell">

                            <md-radio-group style="flex-direction: row;display: inline-flex;"
                                            [(ngModel)]="fireHydrantSelectedType">
                                <md-radio-button [value]="firehydrant_type.Type"
                                                 *ngFor="let firehydrant_type of FIREHYDRANT_TYPE"
                                                 style="margin:7px;">{{firehydrant_type.Type}}
                                </md-radio-button>
                            </md-radio-group>

                        </div>
                    </div>
                    <div class="row">
                        <div class="cell">
                            <div *ngIf="fireHydrantSelectedType == 'Adresse'">
                                <md-select placeholder="">
                                    <md-option>En face</md-option>
                                    <md-option>A côté</md-option>
                                    <md-option>A l'adresse</md-option>
                                    <md-option>A l'arrière</md-option>
                                    <md-option>Au bout</md-option>
                                    <md-option>Au coin</md-option>
                                    <md-option>Au dessus</md-option>
                                    <md-option>Au dessous</md-option>
                                    <md-option>Près</md-option>
                                    <md-option>Visible du</md-option>
                                </md-select>
                                <md-input-container>
                                    <input mdInput placeholder="No. Civique"/>
                                </md-input-container>
                                <md-input-container class="full-width">
                                    <input mdInput value="Rapide-Plat Sud (Chemin du)"
                                           placeholder="Voie de circulation">
                                </md-input-container>
                            </div>
                            <div *ngIf="fireHydrantSelectedType == 'Intersection'">
                                <md-input-container class="full-width">
                                    <input mdInput value="Rapide-Plat Sud (Chemin du)"
                                           placeholder="Voie de circulation">
                                </md-input-container>
                                <md-input-container class="full-width">
                                    <input mdInput value="Scott (Avenue)" placeholder="Transversale">
                                </md-input-container>
                            </div>
                            <div *ngIf="fireHydrantSelectedType == 'Latitude / Longitude'">
                                <div class="table">
                                    <div class="cell rowspan2">
                                        <div>
                                            <md-input-container class="full-width">
                                                <input mdInput placeholder="Latitude">
                                            </md-input-container>
                                            <md-input-container class="full-width">
                                                <input mdInput placeholder="Longitude">
                                            </md-input-container>
                                        </div>
                                        <div>
                                            <button md-button>Localiser...</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="fireHydrantSelectedType == 'Autre'">
                                <md-input-container class="full-width">
                                    <textarea mdInput placeholder="Autre emplacement"></textarea>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>
                <md-card-actions class="card-buttons">
                    <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
                </md-card-actions>
                </div>
            </md-card>

            <div style="clear:both"></div>
        </md-card-content>

    </md-card>

    <div fxLayout="row" class="card-buttons">
        <button md-raised-button>
            <md-icon style="color: green;">check_circle</md-icon>
            Compléter la section
        </button>
    </div>
</div>

