<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowInserting)="onRowInserting($event)"
        (onEditingStart)="onEditingStart($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="name"
            caption="{{'name' | translate}}"
            sortIndex="0"
            sortOrder="asc">
    </dxi-column>

    <dxi-column alignment="center" caption="{{'duplicate' | translate}}" cellTemplate="copymode" [width]="60">
      <div *dxTemplate="let data of 'copymode'">
        <i class="fa fa-paste dx-link" (click)="onCopyReport(data.data)" title="{{'reportCopy' | translate}}"></i>
    </div>
    </dxi-column>

    <dxi-column cellTemplate="cellTemplate" [width]="50" alignment="center">
      <div *dxTemplate="let data of 'cellTemplate'">
        <div>
        <span class="dx-icon-preferences dx-link" (click)=editReport(data.data)></span>
        </div>
      </div>
    </dxi-column>


    <dxo-editing mode="popup" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-popup title="{{'modify' | translate}}" [showTitle]="true"  [height]="220" [width]="350"></dxo-popup>
          <dxo-form colCount="1">
            <dxi-item dataField="name" [isRequired]="true"></dxi-item>
          </dxo-form>
    </dxo-editing>
</dx-data-grid>
