<div fxLayout="row">
  <md-card>
    <md-card-title>Panneau d'alarme</md-card-title>
    <md-card-content>
      <md-select placeholder="Type" >
        <md-option>Zoné</md-option>
        <md-option>Non-zoné</md-option>
      </md-select>
      <div fxLayout="row" class="full-width">
        <md-input-container>
          <input mdInput placeholder="Étage">
        </md-input-container>
      </div>
      <div fxLayout="row" class="full-width">
        <md-input-container>
          <input mdInput placeholder="Mur">
        </md-input-container>
      </div>
      <div fxLayout="row" class="full-width">
        <md-input-container>
          <input mdInput placeholder="Section">
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-title>Gicleur</md-card-title>
    <md-card-content>
      <div fxLayout="row" class="full-width">
        <md-input-container>
          <input mdInput placeholder="Emplacement du collecteur" style="width:300px;">
        </md-input-container>
      </div>
      <div fxLayout="row" class="full-width">
        <md-radio-group>
          <md-radio-button value="1" checked>Partiel</md-radio-button>
          <md-radio-button value="2">Complet</md-radio-button>
        </md-radio-group>
      </div>
      <div fxLayout="row" class="full-width">
        <md-input-container>
          <input mdInput placeholder="Étage">
        </md-input-container>
      </div>
      <div fxLayout="row" class="full-width">
        <md-input-container>
          <input mdInput placeholder="Mur">
        </md-input-container>
      </div>
      <div fxLayout="row" class="full-width">
        <md-input-container>
          <input mdInput placeholder="Section">
        </md-input-container>
      </div>
    </md-card-content>
  </md-card>
</div>
<div fxLayout="row" class="full-width" style="width: 300px">
  <md-input-container>
    <input mdInput placeholder="Emplacement canalisation">
  </md-input-container>
</div>
<div fxLayout="row">
  <button md-raised-button><md-icon style="color: green;">check_circle</md-icon>Compléter la section</button>
</div>
