.card-layout-container{
  padding: 5px;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.card-layout-child{
  padding: 1em;
  border: solid lightgray thin;
  padding: 5px;
  height: 400px;
  margin: 5px 5px 0px 2.5px;
  width: 400px;
}