<md-card class="master-card">
  <md-card-title>{{title}}</md-card-title>
  <md-card-content>
    <ng-container *ngFor="let item of items;">
      <div class="component-card" appCtrlFactory comp="{{componentType}}" [item]="item" (deleteClick)="onDeleteClicked($event)"></div>
    </ng-container>
    <md-card class="detail-card new-card empty-card" id="new-card" (click)="onAddItemClicked($event)">
      <md-card-content>
        <div class="centered-card-content">
          <button class="add-button" md-raised-button><md-icon class="add-button-picture">add_circle</md-icon>Ajouter</button>
        </div>
      </md-card-content>
    </md-card>
    <div style="clear:both"></div>
  </md-card-content>
</md-card>
<div class="card-buttons">
  <button md-raised-button (click)="onCompleteSectionClicked()"><md-icon style="color: green;" >check_circle</md-icon>Section complétée</button>
</div>
