<mat-tab-group>
    <mat-tab label="{{'building' | translate}}">
        <app-managementbuilding-list></app-managementbuilding-list>
    </mat-tab>
    <mat-tab label="{{'riskLevel' | translate}}">
        <app-managementbuilding-risklevel></app-managementbuilding-risklevel>
    </mat-tab>
    <mat-tab label="{{'utilisationCode' | translate}}">
        <app-managementbuilding-utilisationcode></app-managementbuilding-utilisationcode>
    </mat-tab>
    <mat-tab label="{{'personRequiringAssistanceType' | translate}}">
        <app-managementbuilding-personrequiringassistancetype></app-managementbuilding-personrequiringassistancetype>
    </mat-tab>
    <mat-tab label="{{'hazardousMaterial' | translate}}">
        <app-managementbuilding-hazardousmaterial></app-managementbuilding-hazardousmaterial>
    </mat-tab>
</mat-tab-group>