<app-toolbar title="{{'buildingManagement' | translate}}"></app-toolbar>
<div class="content-under-toolbar">
  <md-tab-group>
    <md-tab label="{{'building' | translate}}">
      <app-management-building-list></app-management-building-list>
    </md-tab>
    <md-tab label="{{'riskLevel' | translate}}">
      <app-management-building-risklevel></app-management-building-risklevel>
    </md-tab>
    <md-tab label="{{'utilisationCode' | translate}}">
      <app-management-building-utilisationcode></app-management-building-utilisationcode>
    </md-tab>
  </md-tab-group>
</div>