<mat-tab-group>
    <mat-tab label="{{'buildings' | translate}}">
        <app-managementbuilding-list [isParent]="true"></app-managementbuilding-list>
    </mat-tab>
    <mat-tab label="{{'riskLevels' | translate}}">
        <app-managementbuilding-risklevel></app-managementbuilding-risklevel>
    </mat-tab>
    <mat-tab label="{{'utilisationCodes' | translate}}">
        <app-managementbuilding-utilisationcode></app-managementbuilding-utilisationcode>
    </mat-tab>
    <mat-tab label="{{'personRequiringAssistanceTypes' | translate}}">
        <app-managementbuilding-personrequiringassistancetype></app-managementbuilding-personrequiringassistancetype>
    </mat-tab>
    <mat-tab label="{{'hazardousMaterials' | translate}}">
        <app-managementbuilding-hazardousmaterial></app-managementbuilding-hazardousmaterial>
    </mat-tab>
</mat-tab-group>