<div fxLayout="row">
    <div fxFlex="35%">
        <div class="title">{{'webuser' | translate}}</div>
        <div class="content">
            <dx-tree-view
                [dataSource]="objects"
                displayExpr="text"
                itemsExpr="children"
                keyExpr="idPermissionObject"
                selectionMode="single"
                (onItemClick)="onRowSelected($event)">
            </dx-tree-view>
        </div>
    </div>
    <div fxFlex="65%">
        <dx-data-grid
                [dataSource]="features"
                [filterRow]="filter"
                [editing]="editing"
                [hoverStateEnabled]="true"
                (onRowUpdated)="onRowUpdated($event)">
            <dxi-column
                    dataField="description"
                    caption="{{'description' | translate}}"
                    sortOrder="asc"
                    sortIndex="0">
            </dxi-column>
            <dxi-column
                    dataField="defaultValue"
                    caption="{{'defaultValue' | translate}}"
                    [lookup]="defaultLookup"
                    width="20%">
            </dxi-column>
            <dxi-column
                    dataField="webuserValue"
                    caption="{{'webuserValue' | translate}}"
                    [lookup]="webuserLookup"
                    width="20%">
            </dxi-column>
        </dx-data-grid>
    </div>
</div>