<div fxLayout="row">
    <div fxFlex="30%">
        <div class="title">{{'groups-webusers' | translate}}</div>
        <div class="content">
            <dx-tree-view
                [dataSource]="permissionObjects"
                displayExpr="groupName"
                itemsExpr="children"
                keyExpr="id"
                selectionMode="single"
                dataStructure="plain"
                parentIdExpr="idPermissionObjectParent"
                [selectByClick]="true"
                (onItemSelectionChanged)="onRowSelected($event)">
            </dx-tree-view>
        </div>
    </div>
    <div fxFlex="70%">
        <dx-data-grid
                [dataSource]="features"
                [filterRow]="filter"
                [editing]="editing"
                [hoverStateEnabled]="true"
                (onRowUpdated)="onRowUpdated($event)">
            <dxi-column
                    dataField="feature.description"
                    caption="{{'description' | translate}}"
                    sortOrder="asc"
                    sortIndex="0">
            </dxi-column>
            <dxi-column
                    dataField="feature.defaultValue"
                    caption="{{'defaultValue' | translate}}"
                    [lookup]="defaultLookup"
                    width="20%">
            </dxi-column>
            <dxi-column
                    dataField="access"
                    caption="{{'accessValue' | translate}}"
                    [lookup]="accessLookup"
                    width="20%">
            </dxi-column>
        </dx-data-grid>
    </div>
</div>