::ng-deep .fireHydrantField .textbox {
  height: 0;
  overflow: hidden;
}

::ng-deep .fireHydrantField .fireHydrant {
  width: 90%;
  margin: 7px;
}

::ng-deep .fireHydrant {
  width: 100%;
  height: 20px;
  border: solid 1px #000;
}
::ng-deep .dx-layout-manager .dx-field-item:not(.dx-last-col){
  padding-right:0px;
}

 ::ng-deep .display-locationType{
  display: none;
}

::ng-deep #civicNumberTemplate .dx-field-label{
 width:25%;
}
::ng-deep #civicNumberTemplate .dx-field-value{
  width:75%;
}
::ng-deep #addressLocationTemplate .dx-field-label{
  width:25%;
}
::ng-deep #addressLocationTemplate .dx-field-value{
  width:75%;
}
::ng-deep #transversalTemplate .dx-field-label{
  width:25%;
}
::ng-deep #transversalTemplate .dx-field-value{
  width:75%;
}
::ng-deep #laneTemplate .dx-field-label{
  width:25%;
}
::ng-deep #laneTemplate .dx-field-value{
  width:75%;
}

::ng-deep #physicalPositionTemplate .dx-field-label{
  width:20%;
}
::ng-deep #physicalPositionTemplate .dx-field-value{
  width:80%;
}

