<md-tab-group [selectedIndex]="tabSelected">
  <ng-container *ngFor="let question of tabs">
    <md-tab>
      <app-prevention-survey-question [question]="question" (change)="onAnswerChange($event)"></app-prevention-survey-question>
    </md-tab>
  </ng-container>
</md-tab-group>
<md-toolbar class="actions">
  <span class="spacer"></span>
  <ng-container *ngIf="!onLastQuestion">
    <button md-button (click)="next()">{{'nextQuestion' | translate}}<md-icon>navigate_next</md-icon></button>
  </ng-container>
  <ng-container *ngIf="onLastQuestion">
    <button md-button (click)="complete()"><md-icon>save</md-icon>{{'complete' | translate}}</button>
  </ng-container>
  <span class="spacer"></span>
</md-toolbar>