<dx-data-grid
        [dataSource]="actions"
        [hoverStateEnabled]="true">
    <dxi-column dataField="idWebuser" caption="{{'webuser' | translate}}">
        <dxo-lookup [dataSource]="users" displayExpr="username" valueExpr="idWebuser">
        </dxo-lookup>
    </dxi-column>
    <dxi-column
            dataField="actionTime"
            caption="{{'time' | translate}}"
            sortOrder="desc"
            sortIndex="0"></dxi-column>
    <dxi-column dataField="actionObject" caption="{{'object' | translate}}"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
</dx-data-grid>