<mat-tab-group (selectedTabChange)="onSelectionChanged($event)">
    <mat-tab label="{{'fireHydrant' | translate}}">
        <app-managementfirehydrant-list [isShow]="selectedTab === 0"></app-managementfirehydrant-list>
    </mat-tab>
    <mat-tab label="{{'fireHydrantType' | translate}}">
        <app-managementfirehydrant-type></app-managementfirehydrant-type>
    </mat-tab>
    <mat-tab label="{{'connectionType' | translate}}">
        <app-managementfirehydrant-connectiontype></app-managementfirehydrant-connectiontype>
    </mat-tab>
    <mat-tab label="{{'operator' | translate}}">
        <app-managementfirehydrant-operatortype></app-managementfirehydrant-operatortype>
    </mat-tab>
    <mat-tab label="{{'unitOfMeasure' | translate}}">
        <app-managementfirehydrant-unitofmeasure></app-managementfirehydrant-unitofmeasure>
    </mat-tab>
</mat-tab-group>