<app-toolbar title="{{'fireHydrantManagement' | translate}}"></app-toolbar>
<div class="content-under-toolbar">
  <md-tab-group>
    <md-tab label="{{'fireHydrant' | translate}}">
      <app-managementfirehydrant-list></app-managementfirehydrant-list>
    </md-tab>
    <md-tab label="{{'fireHydrantType' | translate}}">
      <app-managementfirehydrant-type></app-managementfirehydrant-type>
    </md-tab>
    <!--<md-tab label="{{'utilisationCode' | translate}}">
      <app-managementbuilding-utilisationcode></app-managementbuilding-utilisationcode>
    </md-tab>
    <md-tab label="{{'personRequiringAssistanceType' | translate}}">
      <app-managementbuilding-personrequiringassistancetype></app-managementbuilding-personrequiringassistancetype>
    </md-tab>
    <md-tab label="{{'hazardousMaterial' | translate}}">
      <app-managementbuilding-hazardousmaterial></app-managementbuilding-hazardousmaterial>
    </md-tab>-->
  </md-tab-group>
</div>