<app-toolbar title="{{'fireHydrantManagement' | translate}}"></app-toolbar>
<div class="content-under-toolbar">
  <md-tab-group>
    <md-tab label="{{'fireHydrant' | translate}}">
      <app-managementfirehydrant-list></app-managementfirehydrant-list>
    </md-tab>
    <md-tab label="{{'fireHydrantType' | translate}}">
      <app-managementfirehydrant-type></app-managementfirehydrant-type>
    </md-tab>
    <md-tab label="{{'connectionType' | translate}}">
      <app-managementfirehydrant-connectiontype></app-managementfirehydrant-connectiontype>
    </md-tab>
    <md-tab label="{{'operator' | translate}}">
      <app-managementfirehydrant-operatortype></app-managementfirehydrant-operatortype>
    </md-tab>
    <md-tab label="{{'unitOfMeasure' | translate}}">
      <app-managementfirehydrant-unitofmeasure></app-managementfirehydrant-unitofmeasure>
    </md-tab>
  </md-tab-group>
</div>