<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onInitialized)="onInitialized($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowValidating)="onRowValidating($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="localizations"
            caption="{{'name' | translate}}"
            [calculateCellValue]="getRiskLevelName"
            editCellTemplate="editname">
    </dxi-column>
    <dxi-column
            dataField="sequence"
            caption="{{'sequence' | translate}}"
            width="10%"
            sortOrder="asc"
            sortIndex="0"></dxi-column>
    <dxi-column dataField="code" caption="{{'code' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="color" caption="{{'color' | translate}}" editCellTemplate="colorBox" [visible]="false">
        <dxi-validation-rule type="required"></dxi-validation-rule>
    </dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-editing mode="popup" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-texts addRow="{{'add' | translate}}"></dxo-texts>
        <dxo-popup title="{{'riskLevel' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="1">
            <dxi-item dataField="localizations"></dxi-item>
            <dxi-item dataField="sequence" [isRequired]="true"></dxi-item>
            <dxi-item dataField="code" [isRequired]="true">
                    <dxi-validation-rule type="stringLength" [max]="10" message="Doit contenir 10 lettres au maximum"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="color"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let field of 'colorBox'">
        <dxi-item>
            <dx-color-box
                [value]="field.data.color"
                (onValueChanged)="field.setValue($event.value);">
            </dx-color-box>
        </dxi-item>
    </div> 

    <div *dxTemplate="let field of 'editname'">
        <app-multilang
                [validationGroup]="validationGroup"
                [dataField]="field"
                [value]="field.row.data.localizations"
                (valueChanged)="field.setValue($event.value);">
        </app-multilang>
    </div>
</dx-data-grid>