<app-toolbar></app-toolbar>
<div class="content-under-toolbar">
  <md-card class="list-card">

    <md-card-title>Inspections à faire</md-card-title>

    <md-card-content>

      <md-nav-list class="survey-list">
        <div *ngFor="let inspec of inspections">
          <md-list-item (click)="goToInspection(inspec)">
            <md-icon md-list-icon [style.color]="getRiskColor(inspec.idRiskLevel)">home</md-icon>
            <h3 md-line>{{inspec.address}}</h3>
            <div md-line>{{getRiskDescription(inspec.idRiskLevel)}}</div>
            <md-icon>chevron_right</md-icon>
          </md-list-item>
          <md-divider></md-divider>
        </div>
      </md-nav-list>

    </md-card-content>

  </md-card>
</div>

