<app-form-toolbarback [title]="'627 rapide-plat sud'"></app-form-toolbarback>
<div class="content-under-toolbar">
  <md-tab-group [selectedIndex]="selectedTab">
    <ng-container *ngFor="let question of questions">
      <md-tab>
        <app-prevention-question [question]="question"></app-prevention-question>
      </md-tab>
    </ng-container>
  </md-tab-group>
  <md-toolbar class="actions">
    <span class="spacer"></span>
    <button md-button (click)="previous()"><md-icon>navigate_before</md-icon>{{'previousQuestion' | translate}}</button>
    <span class="spacer"></span>
    <button md-button (click)="next()">{{'nextQuestion' | translate}}<md-icon>navigate_next</md-icon></button>
    <span class="spacer"></span>
  </md-toolbar>
</div>