<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onInitialized)="onInitialized($event)"
        (onEditorPreparing)="onEditorPreparing($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onEditingStart)="onEditingStart($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column dataField="name" caption="{{'name' | translate}}" sortOrder="asc" sortIndex="0"></dxi-column>
    <dxi-column dataField="idFireSafetyDepartment" caption="{{'fireSafetyDepartment' | translate}}">
        <dxo-lookup [dataSource]="departments" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column
            dataField="idBuilding"
            caption="{{'building' | translate}}"
            [allowFiltering]="false">
        <dxo-lookup [dataSource]="buildings" [displayExpr]="getBuildingName" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="email" caption="{{'email' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="phoneNumber" caption="{{'telephone' | translate}}" [visible]="false"></dxi-column>
    <dxi-column dataField="faxNumber" caption="{{'fax' | translate}}" [visible]="false"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-editing mode="popup" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-texts addRow="{{'add' | translate}}"></dxo-texts>
        <dxo-popup title="{{'firestation' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="2">
            <dxi-item dataField="name" [isRequired]="true" colSpan="2"></dxi-item>
            <dxi-item dataField="idFireSafetyDepartment" [isRequired]="true"></dxi-item>
            <dxi-item dataField="idBuilding" editorType="dxLookup" [editorOptions]="buildingLookup"></dxi-item>
            <dxi-item dataField="email"></dxi-item>
            <dxi-item dataField="phoneNumber"></dxi-item>
            <dxi-item dataField="faxNumber"></dxi-item>
        </dxo-form>
    </dxo-editing>
</dx-data-grid>