<div fxLayout="row">
    <div fxFlex="30%">{{'riskLevel' | translate}}</div>
    <div>{{riskLevel}}</div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'assignment' | translate}}</div>
    <div>{{utilisationCode}}</div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'matricule' | translate}}</div>
    <div>{{generalInfo.mainBuildingMatricule}}</div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'alias' | translate}}</div>
    <div>{{generalInfo.mainBuildingName}}</div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'lane' | translate}}</div>
    <div>{{lane}}</div>
</div>
<div fxLayout="row">
    <div fxFlex="30%">{{'transversal' | translate}}</div>
    <div>{{transversal}}</div>
</div>