<mat-toolbar>
    <mat-toolbar-row>
        <span class="title">{{'generalInfo' | translate}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <div fxLayout="row">
            <div fxFlex="30%">{{'riskLevel' | translate}}</div>
            <div fxFlex="70%">{{riskLevel}}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'assignment' | translate}}</div>
            <div fxFlex="70%">{{utilisationCode}}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'matricule' | translate}}</div>
            <div fxFlex="70%">{{generalInfo.mainBuildingMatricule}}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'name' | translate}}</div>
            <div fxFlex="70%">{{generalInfo.mainBuildingName}}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'lane' | translate}}</div>
            <div fxFlex="70%">{{lane}}</div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'transversal' | translate}}</div>
            <div fxFlex="70%">
                <dx-select-box
                        [dataSource]="lanes"
                        displayExpr="name"
                        valueExpr="id"
                        width="50%"
                        height="100%"
                        name="idTransversal"
                        (onValueChanged)="onChange($event)"
                        [value]="generalInfo.idLaneTransversal">
                </dx-select-box>
            </div>
        </div>
    </mat-card-content>
</mat-card>