.address-type-checkboxes {
  flex-direction: row;
  display: inline-flex;
}

.address-type-select {
  font-weight: bolder;
}

.mat-button-toggle-checked {
  background-color: darkgray !important;
}

.fire-hydrant-card {
  height: 470px;
}

.card-buttons {
  bottom: 30px;
  right: 30px;
  position: absolute;
}
