.address-type-checkboxes {
  flex-direction: row;
  display: inline-flex;
}

.address-type-select {
  font-weight: bolder;
}

.mat-button-toggle-checked {
  background-color: darkgray !important;
}

.fire-hydrant-card {
  width: 370px;
  height: 510px;
}

@media only screen and (max-width: 600px) {
  .fire-hydrant-card {
    width: 90%;
    float: none;
  }
}

.card-buttons {
  bottom: 30px;
  right: 30px;
  position: absolute;
}

