<form novalidate (ngSubmit)="onSubmit(courseLaneForm)" [formGroup]="courseLaneForm">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="18">
      <md-input-container class="full-width">
        <input mdInput type="number" formControlName="sequence" placeholder="Séquence">
      </md-input-container>
    </div>
    <div fxFlex="50">
      <app-search-box
          formControlName="idLane"
          placeHolderText="Rue"
          [dataService]="laneService"
          keyField="idLane"
          descriptionField="fullNameForFireCad"
      ></app-search-box>
    </div>
    <div fxFlex="18">
      <md-select placeholder="Direction" formControlName="direction" class="full-width">
        <md-option value="">Tout droit</md-option>
        <md-option value="L">{{'left' | translate}}</md-option>
        <md-option value="R">{{'right' | translate}}</md-option>
      </md-select>
    </div>
    <div fxFlex="10" fxFlexAlign="stretch" fxFill><md-icon md-list-icon (click)="removeLine()">remove_circle</md-icon></div>
  </div>
</form>