<dx-data-grid
        [dataSource]="counties"
        [hoverStateEnabled]="true"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="name"
            caption="{{'name' | translate}}"
            [calculateCellValue]="onCalculateCellValue"
            editCellTemplate="editname"
            sortOrder="asc"
            sortIndex="1">
    </dxi-column>
    <dxi-column
            dataField="idState"
            caption="{{'state' | translate}}"
            sortOrder="asc"
            sortIndex="0">
        <dxo-lookup [dataSource]="states" displayExpr="name.fr" valueExpr="idState">
        </dxo-lookup>
    </dxi-column>
    <dxi-column
            dataField="idRegion"
            caption="{{'region' | translate}}">
        <dxo-lookup [dataSource]="regions" displayExpr="name.fr" valueExpr="idRegion">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" caption="{{'isActive' | translate}}" width="10%"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-popup title="{{'county' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="1">
            <dxi-item dataField="name" [isRequired]="true"></dxi-item>
            <dxi-item dataField="idState" [isRequired]="true"></dxi-item>
            <dxi-item dataField="idRegion"></dxi-item>
            <dxi-item dataField="isActive" editorType="dxCheckBox"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let rowname of 'editname'">
        À refaire
        <!-- <cause-multilang [value]="rowname.row.data.name" (onValueChanged)="rowname.setValue($event.value);"></cause-multilang> -->
    </div>
</dx-data-grid>