<div>{{building.alias}}</div>
<div>
  <div>D.I.E.</div>
  <div><input type="number" value="627"></div>
  <div>
    <select>
      <option value="1" selected>GIMP</option>
    </select>
  </div>
</div>
<div>
  <div>Construction</div>
  <div></div>
</div>
<div>
  <div>Solives</div>
  <div></div>
</div>
<div>
  <div>Hauteur</div>
  <!--<div><input type="number" [(ngModel)]='building.height'></div>-->
</div>
<div>
  <div>Nb. étages</div>
  <!--<div><input type="number" [(ngModel)]='building.storeyCount'></div>-->
</div>
