<div>

<md-card class="full-width">
  <md-card-title>
    Matières dangeureuse
    <button md-raised-button><md-icon>add</md-icon>Ajouter...</button>
  </md-card-title>

  <md-card>
    <form>
      <div fxLayout="row" class="full-width">
        <md-select placeholder="NIP" class="full-width">
          <md-option value="1">1202 - Huile de chauffage, légère</md-option>
        </md-select>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput type="number" placeholder="Nombre"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Contenant"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container class="full-width">
          <input mdInput placeholder="Capacité" type="number"/>
        </md-input-container>
        <md-select placeholder="Unité" style="margin-top: 9px;">
          <md-option>Litre</md-option>
          <md-option>Gallon</md-option>
        </md-select>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Localisation"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Étage" type="number"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Mur"/>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Section"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="État"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Entrée gaz"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Périmètre"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container class="full-width">
          <textarea mdInput placeholder="Autres informations"></textarea>
        </md-input-container>
      </div>
    </form>
    <md-card-actions class="card-buttons">
      <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
    </md-card-actions>
  </md-card>



  <md-card>
    <form>
      <div fxLayout="row" class="full-width">
        <md-select placeholder="NIP" class="full-width">
          <md-option value="1">1202 - Huile de chauffage, légère</md-option>
        </md-select>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput type="number" placeholder="Nombre"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Contenant"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container class="full-width">
          <input mdInput placeholder="Capacité" type="number"/>
        </md-input-container>
        <md-select placeholder="Unité">
          <md-option>Litre</md-option>
          <md-option>Gallon</md-option>
        </md-select>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Localisation"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Étage" type="number"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Mur"/>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Section"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="État"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Entrée gaz"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container>
          <input mdInput placeholder="Périmètre"/>
        </md-input-container>
      </div>
      <div fxLayout="row">
        <md-input-container class="full-width">
          <textarea mdInput placeholder="Autres informations"></textarea>
        </md-input-container>
      </div>
    </form>
    <md-card-actions class="card-buttons">
      <button md-raised-button><md-icon>delete</md-icon>Supprimer</button>
    </md-card-actions>
  </md-card>

</md-card>
</div>
<div fxLayout="row">
  <button md-raised-button><md-icon style="color: green;">check_circle</md-icon>Compléter la section</button>
</div>
