<mat-card>
    <mat-card-title>{{'building' | translate}}</mat-card-title>
    <mat-card-content>

      <div fxLayout="row">
        <div fxFlex="30%">{{'name' | translate}}</div>
        <div fxFlex="70%">
          <dx-text-box [value]="currentBuilding.aliasName" name="aliasName" maxlength="250" (onValueChanged)="onChangeBuilding($event)"></dx-text-box>
        </div>
      </div>

      <div fxLayout="row">
        <div fxFlex="30%">{{'corporateName' | translate}}</div>
        <div fxFlex="70%">
          <dx-text-box [value]="currentBuilding.corporateName" name="corporateName" maxlength="250" (onValueChanged)="onChangeBuilding($event)"></dx-text-box>
        </div>
      </div>



      <div fxLayout="row">
            <div fxFlex="30%">{{'type' | translate}}</div>
            <div fxFlex="70%">
                <dx-select-box
                        [dataSource]="buildingTypes"
                        displayExpr="name"
                        valueExpr="id"
                        width="50%"
                        height="100%"
                        name="idBuildingType"
                        (onValueChanged)="onChange($event)"
                        [value]="detail.idBuildingType">
                </dx-select-box>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'garage' | translate}}</div>
            <div fxFlex="70%">
                <dx-select-box
                        [dataSource]="garageTypes"
                        displayExpr="name"
                        valueExpr="id"
                        width="50%"
                        height="100%"
                        name="garageType"
                        (onValueChanged)="onChange($event)"
                        [value]="detail.garageType">
                </dx-select-box>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'height' | translate}}</div>
            <div fxFlex="10%">
                <dx-text-box [value]="detail.height" name="height" (onValueChanged)="onChange($event)"></dx-text-box>
            </div>
            <div fxFlex="60%">
                <dx-select-box
                        [dataSource]="dimensionUnits"
                        displayExpr="name"
                        valueExpr="id"
                        width="50%"
                        height="100%"
                        name="idUnitOfMeasureHeight"
                        (onValueChanged)="onChange($event)"
                        [value]="detail.idUnitOfMeasureHeight">
                </dx-select-box>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'estimatedWaterFlow' | translate}}</div>
            <div fxFlex="10%">
                <dx-text-box [value]="detail.estimatedWaterFlow" name="estimatedWaterFlow" (onValueChanged)="onChange($event)"></dx-text-box>
            </div>
            <div fxFlex="60%">
                <dx-select-box
                        [dataSource]="rateUnits"
                        displayExpr="name"
                        valueExpr="id"
                        width="50%"
                        height="100%"
                        name="idUnitOfMeasureEstimatedWaterFlow"
                        (onValueChanged)="onChange($event)"
                        [value]="detail.idUnitOfMeasureEstimatedWaterFlow">
                </dx-select-box>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>{{'construction' | translate}}</mat-card-title>
    <mat-card-content>
        <div fxLayout="row">
            <div fxFlex="30%">{{'type' | translate}}</div>
            <div fxFlex="70%">
                <dx-select-box
                        [dataSource]="constructionTypes"
                        displayExpr="name"
                        valueExpr="id"
                        width="50%"
                        height="100%"
                        name="idConstructionType"
                        (onValueChanged)="onChange($event)"
                        [value]="detail.idConstructionType">
                </dx-select-box>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'fireResistance' | translate}}</div>
            <div fxFlex="70%">
                <dx-select-box
                        [dataSource]="fireResistanceTypes"
                        displayExpr="name"
                        valueExpr="id"
                        width="50%"
                        height="100%"
                        name="idConstructionFireResistanceType"
                        (onValueChanged)="onChange($event)"
                        [value]="detail.idConstructionFireResistanceType">
                </dx-select-box>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'siding' | translate}}</div>
            <div fxFlex="70%">
                <dx-select-box
                        [dataSource]="sidingTypes"
                        displayExpr="name"
                        valueExpr="id"
                        width="50%"
                        height="100%"
                        name="idBuildingSidingType"
                        (onValueChanged)="onChange($event)"
                        [value]="detail.idBuildingSidingType">
                </dx-select-box>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-title>{{'roof' | translate}}</mat-card-title>
    <mat-card-content>
        <div fxLayout="row">
            <div fxFlex="30%">{{'type' | translate}}</div>
            <div fxFlex="70%">
                <dx-select-box
                        [dataSource]="roofTypes"
                        displayExpr="name"
                        valueExpr="id"
                        width="50%"
                        height="100%"
                        name="idRoofType"
                        (onValueChanged)="onChange($event)"
                        [value]="detail.idRoofType">
                </dx-select-box>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex="30%">{{'material' | translate}}</div>
            <div fxFlex="70%">
                <dx-select-box
                        [dataSource]="roofMaterialTypes"
                        displayExpr="name"
                        valueExpr="id"
                        width="50%"
                        height="100%"
                        name="idRoofMaterialType"
                        (onValueChanged)="onChange($event)"
                        [value]="detail.idRoofMaterialType">
                </dx-select-box>
            </div>
        </div>
    </mat-card-content>
</mat-card>
