:host {
    margin: 0;
    padding-top: 3%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../../../assets/images/splashscreen.png);
}

:host > div {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

h2 {
    text-align: center;
}

form .mat-input-container {
    display: block;
}

form button {
    width: 20%;
    margin-left: 40%;
}