<app-toolbar title="{{'addressManagement' | translate}}"></app-toolbar>
<div class="content-under-toolbar">
    <md-tab-group>
        <md-tab label="{{'lane' | translate}}">
            <app-managementaddress-lane></app-managementaddress-lane>
        </md-tab>
        <md-tab label="{{'city' | translate}}">
            <app-managementaddress-city></app-managementaddress-city>
        </md-tab>
        <md-tab label="{{'cityType' | translate}}">
            <app-managementaddress-citytype></app-managementaddress-citytype>
        </md-tab>
        <md-tab label="{{'county' | translate}}">
            <app-managementaddress-county></app-managementaddress-county>
        </md-tab>
        <md-tab label="{{'region' | translate}}">
            <app-managementaddress-region></app-managementaddress-region>
        </md-tab>
        <md-tab label="{{'state' | translate}}">
            <app-managementaddress-state></app-managementaddress-state>
        </md-tab>
        <md-tab label="{{'country' | translate}}">
            <app-managementaddress-country></app-managementaddress-country>
        </md-tab>
    </md-tab-group>
</div>