<mat-toolbar>
    <mat-toolbar-row>
        <span class="title">{{'courses' | translate}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onInitNewRow)="onNewCourse($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="idFirestation"
            caption="{{'description' | translate}}"
            sortIndex="0"
            sortOrder="desc"
            width="30%"
            [lookup]="lookupFirestations"></dxi-column>
    <dxi-column dataField="lanes" caption="{{'course' | translate}}" cellTemplate="listLaneDescription" editCellTemplate="editCourseLane"></dxi-column>

    <dxo-editing mode="popup" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-popup title="{{'course' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="1"></dxo-form>
    </dxo-editing>

    <div *dxTemplate="let field of 'listLaneDescription'">
        <ul>
            <li *ngFor="let courselane of field.value">{{getLaneName(courselane.idLane)}}{{getDirection(courselane.direction)}}</li>
        </ul>
    </div>
    <div *dxTemplate="let field of 'editCourseLane'">
        <dx-data-grid
                [dataSource]="field.value"
                [hoverStateEnabled]="true"
                [rowAlternationEnabled]="true"
                (onInitialized)="setFormCourseLaneField(field)"
                (onInitNewRow)="onNewLane($event)"
                (onRowInserted)="onLaneInserted($event)"
                (onRowUpdated)="onLaneUpdated($event)"
                (onRowRemoved)="onLaneRemoved($event)">
            <dxi-column dataField="sequence" cellTemplate="showmove" sortOrder="asc" sortIndex="0" width="10%" caption=" "></dxi-column>
            <dxi-column dataField="idLane" caption="{{'lane' | translate}}" [lookup]="lookupLanes"></dxi-column>
            <dxi-column dataField="direction" caption="{{'direction' | translate}}" [lookup]="lookupDirection"></dxi-column>

            <dxo-editing mode="row" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
            </dxo-editing>

            <div *dxTemplate="let field of 'showmove'">
                <dx-button icon="arrowup" (onClick)="moveUp(field)"></dx-button>
                <dx-button icon="arrowdown" (onClick)="moveDown(field)"></dx-button>
            </div>
        </dx-data-grid>
    </div>
</dx-data-grid>
