<mat-toolbar>
    <mat-toolbar-row>
        <span class="title">{{'courses' | translate}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<div fxLayout="row" *ngFor="let course of courses">
    <div fxFlex="30%">{{course.description}}</div>
    <div fxFlex="60%">
        <ul>
            <li *ngFor="let lane of course.lanes">
                {{lane.description}}
            </li>
        </ul>
    </div>
    <div fxFlex="10%">
        <button mat-raised-button (click)="activeEditMode(course.id)">
            <mat-icon [fxShow]="!modeEdit">edit</mat-icon>
            <mat-icon [fxShow]="modeEdit">save</mat-icon>
        </button>
    </div>
</div>