<div>
    <div style="text-align: center">
        <h2>Risques particuliers</h2>
    </div>

</div>

<md-card class="master-card">
    <md-card-content>
        <md-card class="detail-card" >
            <md-card-header><h2>Fondation</h2></md-card-header>
            <div fxLayout="row" class="full-width">
                <md-checkbox>Fondation affaiblie</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Mur/Secteur" style="margin-left:20px">
                    <md-option>M1</md-option>
                    <md-option>M2</md-option>
                    <md-option>M3</md-option>
                    <md-option>M4</md-option>
                    <md-option>S1</md-option>
                    <md-option>S2</md-option>
                    <md-option>S3</md-option>
                    <md-option>S4</md-option>
                </md-select>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Section" style="margin-left:20px">
                    <md-option>A</md-option>
                    <md-option>B</md-option>
                    <md-option>C</md-option>
                    <md-option>D</md-option>
                </md-select>
            </div>

            <div fxLayout="row">
                <md-input-container>
                    <input mdInput placeholder="Dimension du bâtiment"/>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <md-input-container>
                    <textarea mdInput placeholder="Commentaires"></textarea>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <img src="./assets/images/protocol.png"/>
            </div>
            <div fxLayout="row">
                <button md-button>Ajouter photo...</button>
            </div>
        </md-card>

        <md-card class="detail-card">
            <md-card-header><h2>Plancher</h2></md-card-header>
            <div fxLayout="row">
                <md-checkbox>Structure du plancher affaiblie</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-checkbox>Ouverture</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Mur/Secteur" style="margin-left:20px">
                    <md-option>M1</md-option>
                    <md-option>M2</md-option>
                    <md-option>M3</md-option>
                    <md-option>M4</md-option>
                    <md-option>S1</md-option>
                    <md-option>S2</md-option>
                    <md-option>S3</md-option>
                    <md-option>S4</md-option>
                </md-select>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Section" style="margin-left:20px">
                    <md-option>A</md-option>
                    <md-option>B</md-option>
                    <md-option>C</md-option>
                    <md-option>D</md-option>
                </md-select>
            </div>

            <div fxLayout="row">
                <md-input-container>
                    <textarea mdInput placeholder="Commentaires"></textarea>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <img src="./assets/images/protocol.png"/>

            </div>
            <div fxLayout="row">
                <button md-button>Ajouter photo...</button>
            </div>
        </md-card>
        <md-card class="detail-card">
            <md-card-header><h2>Mur</h2></md-card-header>
            <div fxLayout="row">
                <md-checkbox>Structure des murs affaiblie</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-checkbox>Ouverture</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-checkbox>Absence de revêtement</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Mur/Secteur" style="margin-left:20px">
                    <md-option>M1</md-option>
                    <md-option>M2</md-option>
                    <md-option>M3</md-option>
                    <md-option>M4</md-option>
                    <md-option>S1</md-option>
                    <md-option>S2</md-option>
                    <md-option>S3</md-option>
                    <md-option>S4</md-option>
                </md-select>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Section" style="margin-left:20px">
                    <md-option>A</md-option>
                    <md-option>B</md-option>
                    <md-option>C</md-option>
                    <md-option>D</md-option>
                </md-select>
            </div>

            <div fxLayout="row">
                <md-input-container>
                    <textarea mdInput placeholder="Commentaires"></textarea>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <img src="./assets/images/protocol.png"/>

            </div>
            <div fxLayout="row">
                <button md-button>Ajouter photo...</button>
            </div>
        </md-card>

        <md-card class="detail-card">
            <md-card-header><h2>Toit</h2></md-card-header>
            <div fxLayout="row">
                <md-checkbox>Structure du toît affaiblie</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-checkbox>Ouverture</md-checkbox>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Mur/Secteur" style="margin-left:20px">
                    <md-option>M1</md-option>
                    <md-option>M2</md-option>
                    <md-option>M3</md-option>
                    <md-option>M4</md-option>
                    <md-option>S1</md-option>
                    <md-option>S2</md-option>
                    <md-option>S3</md-option>
                    <md-option>S4</md-option>
                </md-select>
            </div>
            <div fxLayout="row">
                <md-select placeholder="Section" style="margin-left:20px">
                    <md-option>A</md-option>
                    <md-option>B</md-option>
                    <md-option>C</md-option>
                    <md-option>D</md-option>
                </md-select>
            </div>

            <div fxLayout="row">
                <md-input-container>
                    <textarea mdInput placeholder="Commentaires"></textarea>
                </md-input-container>
            </div>
            <div fxLayout="row">
                <img src="./assets/images/protocol.png"/>

            </div>
            <div fxLayout="row">
                <button md-button>Ajouter photo...</button>
            </div>
        </md-card>
        <div style="clear:both"></div>
    </md-card-content>
</md-card>