<div class="search-main-container">
  <div class="search-dialog-container">
    <md-nav-list class="search-list">
      <div class="search-input-container">
        <md-input-container class="search-input">
          <input mdInput type="search" placeholder="Recherche..." floatPlaceholder="always" class="search-input" [(ngModel)]="searchExpression">
        </md-input-container>
      </div>

      <div *ngIf="items">
        <div *ngFor="let item of items | filterBy: { filter : searchExpression, field : this.descriptionField}">

          <md-list-item class="search-item"  (click)="clickOnItem(item[keyField])">

            <h3 md-line>{{item[descriptionField]}}</h3>
            <md-icon>chevron_right</md-icon>

          </md-list-item>

          <md-divider></md-divider>
        </div>
      </div>

    </md-nav-list>
    <div style="clear:both;"></div>
  </div>
</div>
