
  <md-card class="detail-card">
      <form novalidate (ngSubmit)="onSubmit(pnapForm)" [formGroup]="pnapForm">
          <div fxLayout="row" class="full-width">
              <md-input-container class="full-width">
                  <input mdInput placeholder="Nom" formControlName="praName">
              </md-input-container>
          </div>
          <div fxLayout="row">
              <md-input-container>
                  <input mdInput placeholder="Étage" formControlName="floor">
              </md-input-container>
              <md-input-container>
                  <input mdInput placeholder="Local" formControlName="local">
              </md-input-container>
          </div>
          <div fxLayout="row">
              <md-input-container class="full-width">
                  <input mdInput placeholder="Contact" formControlName="contactName">
              </md-input-container>
          </div>
          <div fxLayout="row">
              <md-input-container class="full-width">
                  <input mdInput placeholder="Téléphone" type="tel" formControlName="contactPhoneNumber">
              </md-input-container>
          </div>
          <div fxLayout="row">
              <md-select placeholder="Type" class="full-width" formControlName="idPersonRequiringAssistanceType">
                <md-option *ngFor="let type of pnapTypes" [value]="type.id">{{type.name}}</md-option>
              </md-select>
          </div>
          <div fxLayout="row" class="card-subtitle">
              <b>Nombre de personnes</b>
          </div>
          <div fxLayout="row">
              <md-input-container>
                  <input mdInput placeholder="Jour" type="number" formControlName="dayResidentCount">
              </md-input-container>
              <md-checkbox formControlName="dayIsApproximate">Approximatif</md-checkbox>
          </div>
          <div fxLayout="row">
              <md-input-container>
                  <input mdInput placeholder="Soir" type="number" formControlName="eveningResidentCount">
              </md-input-container>
              <md-checkbox formControlName="eveningIsApproximate">Approximatif</md-checkbox>
          </div>
          <div fxLayout="row">
              <md-input-container>
                  <input mdInput placeholder="Nuit" type="number" formControlName="nightResidentCount">
              </md-input-container>
              <md-checkbox formControlName="nightIsApproximate">Approximatif</md-checkbox>
          </div>
          <div fxLayout="row">
              <md-input-container class="full-width">
                  <textarea mdInput placeholder="Informations additionnelles" class="limited-text-area" formControlName="description"></textarea>
              </md-input-container>
          </div>
      </form>
    <md-card-actions class="card-buttons">
      <button md-raised-button (click)="onDeleteClicked()"><md-icon>delete</md-icon>Supprimer</button>
    </md-card-actions>
  </md-card>

