<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onInitialized)="onInitialized($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowValidating)="onRowValidating($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="localizations"
            caption="{{'name' | translate}}"
            [calculateCellValue]="getStateName"
            editCellTemplate="editname"
            sortOrder="asc"
            sortIndex="1">
    </dxi-column>
    <dxi-column
            dataField="idCountry"
            caption="{{'country' | translate}}"
            sortOrder="asc"
            sortIndex="0">
        <dxo-lookup [dataSource]="countries" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="ansiCode" caption="{{'code' | translate}}"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-editing mode="popup" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-texts addRow="{{'add' | translate}}"></dxo-texts>
        <dxo-popup title="{{'state' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="1">
            <dxi-item dataField="localizations" [isRequired]="true"></dxi-item>
            <dxi-item dataField="idCountry" [isRequired]="true"></dxi-item>
            <dxi-item dataField="ansiCode" [isRequired]="true">
                    <dxi-validation-rule type="stringLength" [max]="10" message="Doit contenir 10 lettres au maximum"></dxi-validation-rule>
            </dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let field of 'editname'">
        <app-multilang
                [validationGroup]="validationGroup"
                [dataField]="field"
                [value]="field.row.data.localizations"
                (valueChanged)="field.setValue($event.value);">
        </app-multilang>
    </div>
</dx-data-grid>