<div fxLayout="row">
    <div fxFlex="350px">
        <app-main-menu></app-main-menu>
    </div>
    <div fxFlex="" class="content">
        <dx-data-grid
                [dataSource]="dataSource"
                [hoverStateEnabled]="true"
                (onInitNewRow)="onInitNewRow($event)"
                (onRowInserted)="onRowInserted($event)"
                (onRowUpdated)="onRowUpdated($event)"
                (onRowRemoved)="onRowRemoved($event)">
            <dxi-column
                dataField="description"
                caption="{{'description' | translate}}"
                sortOrder="asc"
                sortIndex="0">
            </dxi-column>
            <dxi-column dataField="civicNumber" caption="{{'civicNumber' | translate}}" [visible]="false"></dxi-column>
            <dxi-column dataField="isReadyForInspection" dataType="boolean" caption="{{'isReadyForInspection' | translate}}" width="10%"></dxi-column>
            <dxi-column dataField="shouldStartOn" dataType="date" caption="{{'shouldStartOn' | translate}}"></dxi-column>
            <dxi-column dataField="isActive" dataType="boolean" caption="{{'isActive' | translate}}" width="10%"></dxi-column>

            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
                <dxo-popup title="{{'batch' | translate}}" [showTitle]="true"></dxo-popup>

                <dxo-form colCount="4">
                    <dxi-item dataField="description" [colSpan]="4"></dxi-item>
                    <dxi-item dataField="isReadyForInspection"></dxi-item>
                    <dxi-item dataField="shouldStartOn"></dxi-item>
                    <dxi-item dataField="isActive"></dxi-item>
                    <dxi-item dataType="empty"></dxi-item>
                    <dxi-item itemType="group" caption="{{'batchInspectors' | translate}}">
                        <dxi-item>
                            <dx-select-box [dataSource]="webusers" valueExpr="id" displayExpr="name" (onSelectionChanged)="addInspector($event)" placeholder="{{'addToInspectors' | translate}}"></dx-select-box>
                        </dxi-item>
                        <dxi-item>
                            <dx-list [dataSource]="inspectors" itemTemplate="listItem">
                                <div *dxTemplate="let item of 'listItem'">
                                    <dx-button icon="trash" (onClick)="removeInspector(item)">
                                    </dx-button>
                                    <span>{{item.name}}</span>
                                </div>
                            </dx-list>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" caption="{{'batchBuilding' | translate}}" [colSpan]="3"></dxi-item>
                </dxo-form>
            </dxo-editing>
        </dx-data-grid>
    </div>
</div>