<app-toolbar title="{{'interventionPlanManagement' | translate}}"></app-toolbar>
<div class="content-under-toolbar">
  <md-tab-group>
    <md-tab label="{{'alarmPanelType' | translate}}">
      <app-managementinterventionplan-alarmpaneltype></app-managementinterventionplan-alarmpaneltype>
    </md-tab>
    <md-tab label="{{'constructionType' | translate}}">
      <app-managementinterventionplan-constructiontype></app-managementinterventionplan-constructiontype>
    </md-tab>
    <md-tab label="{{'personRequiringAssistanceType' | translate}}">
      <app-managementinterventionplan-personrequiringassistancetype></app-managementinterventionplan-personrequiringassistancetype>
    </md-tab>
  </md-tab-group>
</div>
