<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onEditorPreparing)="onEditorPreparing($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onEditingStart)="onEditingStart($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="theme"
            caption="{{'theme' | translate}}"
            editCellTemplate="edittheme"
            sortIndex="0"
            sortOrder="desc">
    </dxi-column>
    <dxi-column dataField="notes" caption="{{'notes' | translate}}"></dxi-column>
    <dxi-column dataField="pictures" [visible]="false" editCellTemplate="editphoto"></dxi-column>

    <dxo-editing mode="popup" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-popup title="{{'anomaly' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="2">
            <dxi-item itemType="group">
                <dxi-item dataField="theme" [isRequired]="true"></dxi-item>
                <dxi-item dataField="notes" [isRequired]="true"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group">
                <dxi-item dataField="pictures" [label]="{visible: false}"></dxi-item>
            </dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let field of 'edittheme'">
        <div fxFlex="90%">
            <dx-select-box [items]="themes" (onValueChanged)="field.setValue($event.value)"></dx-select-box>
        </div>
        <div fxFlex="10%">
            <dx-button icon="plus" (onClick)="addTheme($event)"></dx-button>
        </div>
    </div>
    <div *dxTemplate="let field of 'editphoto'">
        <span class="dx-field-item-label-text">{{'picture' | translate}}:</span>
        <app-slideshow [images]="getImages(field)" height="350px" [allowChange]="true" (valueChanged)="uploadPicture($event)"></app-slideshow>
    </div>
</dx-data-grid>
