<div [ngStyle]="{'width': width}" class="{{horizontal ? 'horizontal' : 'vertical'}}">
  <button class="add-picture-button" md-raised-button title="{{'selectImage' | translate}}" (click)="select($event)">
    <span>{{'select' | translate}}</span>
    <md-icon>image</md-icon>
  </button>
  <ng-container *ngIf="useCamera">
    <button class="add-picture-button" md-raised-button title="{{'takeImage' | translate}}" (click)="take($event)">
      <span>{{'take' | translate}}</span>
      <md-icon>photo_camera</md-icon>
    </button>
  </ng-container>
  <img #takePictureImage src="{{source}}" />
  <input type="file" #fileLoader (change)="onChange($event)" />
</div>
