img {
    margin: 0 auto;
    display: block;
}

input {
    display: none;
}

button {
    margin-right: 2%;
    margin-bottom: 10px;
}

.horizontal img {
    max-width: 100%;
}

.vertical img {
    height: 100px;
    max-width: 49%;
}

.vertical button {
    float: left;
    width: 49%;
    overflow: hidden;
}

@media only screen and (max-width: 400px) {
    button span {
        display: none;
    }
}