img {
    height: 100px;
    margin: 0 auto;
    display: block;
    max-width: 49%;
}

input {
    display: none;
}

button {
    float: left;
    width: 49%;
    overflow: hidden;
    margin-right: 2%;
    margin-bottom: 10px;
}

@media only screen and (max-width: 400px) {
    button span {
        display: none;
    }
}