@import 'theme';
@import 'devexteme';

html {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

.content {
  padding: 1em;
}

.cdk-overlay-container {
  z-index: 10000;
}

.fullHeight {
  height: 100%;
  display: block;
}

.fullHeight > div {
  height: calc(100% - 4em);
  overflow: auto;
}