body {
  margin: 0;
  overflow: hidden;
}

/* General page content */
.content-under-toolbar {
  height: calc(100% - 64px);
  overflow: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(./assets/images/bg-borne.jpg);
}

@media only screen and (orientation: portrait) {
  .content-under-toolbar {
    background-image: url(./assets/images/bg-borne-portrait.jpg);
  }
}

.card-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-buttons {
  padding: 10px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.5);
}

.card-buttons.mat-card-actions {
  background-color: transparent;
}

.add-button {
  font-size: 1.2em !important;
  padding: 40px !important;
}

.add-button-picture {
  font-size: 40px;
  height: 40px !important;
  width: 40px !important;
  padding-right: 20px !important;
}

.full-width {
  width:100%;
}

.select-fix {
  margin-top: 9px !important
}

@media only screen and (max-width: 600px) {
  .content-under-toolbar {
    height: calc(100% - 56px);
  }
}

/* Correction of angular theme */
.mat-card {
  background-color: rgba(255, 255, 255, 0.5);
}

.mat-select {
  margin: 1em 0;
}

.mat-select .mat-select-trigger {
  font-size: 14px;
  max-height: 21px;
}

.master-card {
  padding: 5px !important;
  height: calc(100% - 50px);
  overflow: auto;
}

.detail-card {
  float: left;
  margin: 5px 5px 0px 2.5px !important;
}

@media only screen and (max-width: 600px) {
  .detail-card {
    width: 90%;
    float: none;
  }
}

div.empty-card {
  position: relative;
  text-align: center;
}

div.centered-card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

div.hidden-content {
  visibility: hidden;
}

.mat-input-placeholder-wrapper{
  font-weight: bold;
  font-size: 1.1em;
}

.mat-select-placeholder.mat-floating-placeholder{
  top: -20px !important;
}

.mat-select-placeholder {
  font-weight: bold;
  font-size: 1.1em;
}

.complete-section-button {
  color: darkgreen;
}

.limited-text-area {
  resize: none;
  height: 75px;
}

.mat-dialog-container {
  max-width: 100vw !important;
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .content {
  width: 50%;
  margin: 20vh 25%;
  padding: 5vh 2%;
  text-align: center;
  background-color: #ffffff;
}

.modal .content img {
  max-width: 60%;
}