<dx-data-grid
        [dataSource]="dataSource"
        [hoverStateEnabled]="true"
        [rowAlternationEnabled]="true"
        (onEditorPreparing)="onEditorPreparing($event)"
        (onInitialized)="onInitialized($event)"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowValidating)="onRowValidating($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
          dataField="localizations"
          caption="{{'name' | translate}}"
          [calculateCellValue]="getUnitName"
          editCellTemplate="editname"
          sortOrder="asc"
          sortIndex="0">
    </dxi-column>
    <dxi-column dataField="abbreviation" caption="{{'abbreviation' | translate}}"></dxi-column>
    <dxi-column dataField="measureType" caption="{{'type' | translate}}">
        <dxo-lookup [dataSource]="measureTypes" displayExpr="name" valueExpr="id">
        </dxo-lookup>
    </dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-editing mode="popup" [useIcons]="true" [allowUpdating]="true" [allowAdding]="readOnlyImported" [allowDeleting]="true">
        <dxo-texts addRow="{{'add' | translate}}"></dxo-texts>
        <dxo-popup title="{{'unitOfMeasure' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="1">
            <dxi-item dataField="localizations" [isRequired]="true"></dxi-item>
            <dxi-item dataField="abbreviation" [editorOptions]="{maxLength: 5}"></dxi-item>
            <dxi-item dataField="measureType" [isRequired]="true"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let field of 'editname'">
        <app-multilang
                [validationGroup]="validationGroup"
                [dataField]="field"
                [value]="field.row.data.localizations"
                [readOnly]="readOnly"
                (valueChanged)="field.setValue($event.value);">
        </app-multilang>
    </div>
</dx-data-grid>
