<dx-data-grid
        [dataSource]="lanes"
        [hoverStateEnabled]="true"
        (onInitNewRow)="onInitNewRow($event)"
        (onRowValidating)="onRowValidating($event)"
        (onRowInserted)="onRowInserted($event)"
        (onRowUpdated)="onRowUpdated($event)"
        (onRowRemoved)="onRowRemoved($event)">
    <dxi-column
            dataField="localizations"
            caption="{{'name' | translate}}"
            [calculateCellValue]="getLaneName"
            editCellTemplate="editname"
            sortOrder="asc"
            sortIndex="1">
    </dxi-column>
    <dxi-column
            dataField="idCity"
            caption="{{'city' | translate}}"
            sortOrder="asc"
            sortIndex="0">
        <dxo-lookup [dataSource]="cities" [displayExpr]="getCityName" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="idPublicCode" caption="{{'publicLaneCode' | translate}}" [visible]="false">
        <dxo-lookup [dataSource]="publicCodes" displayExpr="description" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="idLaneGenericCode" caption="{{'genericCode' | translate}}" [visible]="false">
        <dxo-lookup [dataSource]="genericCodes" displayExpr="description" valueExpr="id">
        </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="isActive" dataType="boolean" caption="{{'isActive' | translate}}" width="10%"></dxi-column>

    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
        <dxo-popup title="{{'lane' | translate}}" [showTitle]="true"></dxo-popup>

        <dxo-form colCount="1">
            <dxi-item dataField="localizations" [isRequired]="true"></dxi-item>
            <dxi-item dataField="idCity" [isRequired]="true"></dxi-item>
            <dxi-item dataField="idPublicCode" [isRequired]="true"></dxi-item>
            <dxi-item dataField="idLaneGenericCode" [isRequired]="true"></dxi-item>
            <dxi-item dataField="isActive" editorType="dxCheckBox"></dxi-item>
        </dxo-form>
    </dxo-editing>

    <div *dxTemplate="let field of 'editname'">
        <app-multilang [isRequired]="true" [dataField]="field" (valueChanged)="field.setValue($event.value);"></app-multilang>
    </div>
</dx-data-grid>