<div fxLayout="row">
    <div fxFlex="35%">
        <div class="title">
            <dx-button icon="trash" (onClick)="onRemoveQuestion()"></dx-button>
            <dx-button icon="add" (onClick)="onAddQuestion()"></dx-button>
            <dx-button icon="arrowdown" (onClick)="onMoveDown()"></dx-button>
            <dx-button icon="arrowup" (onClick)="onMoveUp()"></dx-button>
            {{'questions' | translate}}
        </div>
        <div class="content">
            <dx-tree-view
                    [dataSource]="questions"
                    displayExpr="localizations"
                    [itemTemplate]="getQuestionTreeviewTitle"
                    keyExpr="id"
                    selectionMode="single"
                    [selectByClick]="true"
                    (onItemSelectionChanged)="onQuestionSelected($event)"
                    parentIdExpr="idSurveyQuestionParent"
                    dataStructure="plain">
            </dx-tree-view>
        </div>
    </div>
    <div fxFlex="65%">
        <div *ngIf="selectedIndex > -1">
            <dx-form [formData]="questions[selectedIndex]" (onFieldDataChanged)="onFormUpdated('form',$event)">
                <dxi-item></dxi-item>
                <dxi-item [label]="{text: 'title' | translate}" dataField="localizations" class="multilang">
                    <app-multilang [value]="questions[selectedIndex].localizations" fieldName="title"
                                   (valueChanged)="onMultiLangValueChanged('title',$event);"></app-multilang>
                </dxi-item>
                <dxi-item [label]="{text: 'description' | translate}" dataField="localizations" class="multilang">
                    <app-multilang [value]="questions[selectedIndex].localizations" fieldName="name"
                                   (valueChanged)="onMultiLangValueChanged('description',$event);"></app-multilang>
                </dxi-item>
                <dxi-item
                        [label]="{text: 'questionType' | translate}"
                        dataField="questionType"
                        editorType="dxSelectBox"
                        [editorOptions]="questionTypeOptions">
                </dxi-item>
                <dxi-item
                        [label]="{text: 'nextQuestion' | translate}"
                        dataField="idSurveyQuestionNext"
                        editorType="dxSelectBox"
                        [editorOptions]="{dataSource: nextQuestions, displayExpr:getLocalizedTitle , valueExpr: 'id'}">
                </dxi-item>
            </dx-form>
            <br>
            <div [fxShow]="optionsChoiceVisible">
                <label>{{'options' | translate}}</label>
                <dx-data-grid
                        [dataSource]="dataSource"
                        [hoverStateEnabled]="true"
                        (onInitNewRow)="onInitNewChoice($event)"
                        (onRowInserted)="addNewQuestionChoice($event)"
                        (onRowUpdated)="onRowUpdated($event)"
                        (onRowRemoved)="onRowRemoved($event)">
                    <dxi-column
                            dataField="sequence"
                            caption="{{'sequence' | translate}}"
                            width="15%"
                            sortOrder="asc"
                            sortIndex="0">
                    </dxi-column>
                    <dxi-column
                            dataField="localizations"
                            caption="{{'name' | translate}}"
                            [calculateCellValue]="getLocalizedTitle"
                            editCellTemplate="editname">
                    </dxi-column>
                    <dxi-column
                            dataField="idSurveyQuestionNext"
                            caption="{{'surveyQuestionNext' | translate}}"
                            sortOrder="asc"
                            sortIndex="0">
                        <dxo-lookup [dataSource]="nextQuestions" [displayExpr]="getLocalizedTitle" valueExpr="id">
                        </dxo-lookup>
                    </dxi-column>
                    <dxi-column dataField="isActive" caption="{{'isActive' | translate}}" width="10%"></dxi-column>

                    <dxo-load-panel [enabled]="true"></dxo-load-panel>
                    <dxo-editing mode="row" [useIcons]="true" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true">
                    </dxo-editing>

                    <div *dxTemplate="let field of 'editname'">
                        <app-multilang
                                [validationGroup]="validationGroup"
                                [dataField]="field"
                                [value]="field.row.data.localizations"
                                (valueChanged)="field.setValue($event.value);">
                        </app-multilang>
                    </div>
                </dx-data-grid>
            </div>
        </div>
    </div>
</div>
