:host > div {
    display: block;
    height: 100%;
}

div.title {
    padding: 7px;
    font-size: 1.3em;
    font-weight: bolder;
    line-height: 36px;
}

div.title dx-button {
    float: right;
    margin: 0 2px;
}

div.content {
    height: 100%;
}

.multilang {
    padding : 2px;
    padding-left:40px;
}

.child-add{
    float: right;
}

.dx-treeview::ng-deep .dx-treeview-item .child-add .dx-icon {
    width: 8px;
    height: 8px;
    background-position: 0px 0px;
    background-size: 12px 12px;
    padding: 0px;
    font-size: 12px;
    text-align: center;
    line-height: 10px;
    margin-top: -3px;
    margin-right:4px;
}

.dx-treeview::ng-deep .dx-treeview-node:not(.dx-treeview-item-with-checkbox).dx-state-focused > .dx-treeview-item .dx-icon{
    color:#333;
}
