<div fxLayout="row">
    <div fxFlex="350px">
        <app-main-menu></app-main-menu>
    </div>
    <div fxFlex="" class="content">
        <mat-button-toggle-group #group="matButtonToggleGroup" color="primary" (valueChange)="changeMode($event)">
            <mat-button-toggle value="mode1" [checked]="selectedMode == 'mode1'" [disabled]="!everythingIsLoaded">
                {{'mode1' | translate}}
            </mat-button-toggle>
            <mat-button-toggle value="mode2" [checked]="selectedMode == 'mode2'" [disabled]="!everythingIsLoaded">
                {{'mode2' | translate}}
            </mat-button-toggle>
            <mat-button-toggle value="mode3" [checked]="selectedMode == 'mode3'" [disabled]="!everythingIsLoaded">
                {{'mode3' | translate}}
            </mat-button-toggle>
            <mat-button-toggle value="mode4" [checked]="selectedMode == 'mode4'" [disabled]="!everythingIsLoaded">
                {{'mode4' | translate}}
            </mat-button-toggle>
        </mat-button-toggle-group>

        <dx-data-grid [dataSource]="dataSource" [hoverStateEnabled]="true" [rowAlternationEnabled]="true">
            <div *dxTemplate="let field of 'groupBatch'">
                <button mat-button color="primary" (click)="showBatch(field)">{{'see' | translate}}</button>
                {{'batch' | translate}} : {{field.value}}
            </div>
        </dx-data-grid>
    </div>
</div>