<h2>{{'visitsResults' | translate}}</h2>
<div fxLayout="row">
    <div fxFlex="50%"></div>
    <div fxFlex="50%"></div>
</div>

<div id="form-container" *ngIf="departments">
    <dx-drop-down-box #ddBox [dataSource]="departments" [value]="departmentName" [(opened)]="isDropDownBoxOpened">
        <div *dxTemplate="let contentData of 'content'">
            <dx-list [dataSource]="departments" displayExpr="name" valueExpr="id" selectionMode="single"
                (onSelectionChanged)="updateGraphics($event)">
            </dx-list>
        </div>
    </dx-drop-down-box>
</div>

<div *ngIf="currentDepartment">
    <div>
        <div fxLayout="row">
            <div fxFlex="50%" class="graph">
                <dx-pie-chart title="Impact des visites" [palette]="colors.visits" [dataSource]="visits">
                    <dxi-series argumentField="description" valueField="total">
                        <dxo-label [visible]="true">
                            <dxo-connector [visible]="true" [width]="1"></dxo-connector>
                        </dxo-label>
                        <dxo-label [visible]="true" [customizeText]="customizePieLabel">
                            <dxo-font [size]="16"></dxo-font>
                            <dxo-connector [visible]="true" [width]="0.5">
                            </dxo-connector>
                        </dxo-label>
                    </dxi-series>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="showPercent"></dxo-tooltip>
                    <dxo-export [enabled]="true"></dxo-export>
                </dx-pie-chart>
            </div>

            <div fxFlex="50%" class="graph">
                <dx-chart [palette]="colors.results" [dataSource]="results" [customizeLabel]="customizeBarLabel">
                    <dxo-title text="{{'objectiveVsResults' | translate}}"></dxo-title>
                    <dxo-common-series-settings argumentField="description" type="bar" valueField="total"
                        [ignoreEmptyPoints]="true">
                    </dxo-common-series-settings>
                    <dxo-series-template nameField="description"></dxo-series-template>
                    <dxo-tooltip [enabled]="true" [customizeTooltip]="showTooltip"></dxo-tooltip>
                    <dxo-export [enabled]="true"></dxo-export>
                </dx-chart>
            </div>
        </div>

        <div fxLayout="row">
            <div fxFlex="50%" class="graph">
                <div>
                    <app-objective-grid [objectives]="filteredLowRisk" [inspectionStatistics]="filteredInspections" [isHighRisk]="false"></app-objective-grid>
                </div>
            </div>
            <div fxFlex="50%" class="graph">
                <div>
                    <app-objective-grid [objectives]="filteredHighRisk" [inspectionStatistics]="filteredInspections" [isHighRisk]="true"></app-objective-grid>
                </div>
            </div>
        </div>
    </div>
</div>