<md-card *ngIf="question">
    <md-card-header>
        <md-card-title>{{question.title.fr}}</md-card-title>
    </md-card-header>
    <md-card-content>
        {{question.description.fr}}

        <div [ngSwitch]="question.questionType">
            <div *ngSwitchCase="'boolean'">
                <md-slide-toggle (change)="boolChange($event)">{{'yes' | translate}}</md-slide-toggle>
            </div>
            <div *ngSwitchCase="'choice'">
                <md-select placeholder="Sélection" floatPlaceholder="never" (change)="choiceChange($event)">
                    <md-option *ngFor="let choice of question.choices" [value]="choice.idSurveyChoice">
                        {{choice.description.fr}}
                    </md-option>
                </md-select>
            </div>
            <div *ngSwitchCase="'date'">
                <md-input-container>
                    <input type="date" mdInput placeholder="" (change)="dateChange($event)">
                </md-input-container>
            </div>
            <div *ngSwitchCase="'text'">
                <md-input-container>
                    <input mdInput placeholder="" (change)="textChange($event)">
                </md-input-container>
            </div>
        </div>
    </md-card-content>
</md-card>
